*STRING COLLECTIONS

*MODULARITY

*COLLECTION

*EXCEPTION

*ITERABLE AND GENERATORS

*CLASSES

*MAMAGING FILES AND RESOURCE

*SHIPPING WORKING CODE

In [1]:
#PYTHON IS A STRINGLY TYPED LANGUAGE IE EVERY OBJECT HAS A TYPE
X = [1,2,3,4]
type(X)

list

In [30]:
my_list = [1,2,3,4]

for i in my_list:
    print ("The loop goes" ,i,"zzz") 
    for x in range(3):
        print ('z')

The loop goes 1 zzz
z
z
z
The loop goes 2 zzz
z
z
z
The loop goes 3 zzz
z
z
z
The loop goes 4 zzz
z
z
z

In [17]:
x=5+1
x

6

In [18]:
_  #last variable value

6

In [19]:
y=_*2
y

12

In [24]:
#The 4 space rule of indentation,a blank line in the end
for i in range(5):
    y=i*2
    print(y)

0
2
4
6
8

In [31]:
#pep 8 style guide 
#Each line ending with a colon,starts a new line and additional indents
#this continues untils a ddent restores indents to orignal spaces
# Aligned with opening delimiter.
#foo = long_function_name(var_one, var_two,
#                         var_three, var_four)

#Limit all lines to a maximum of 79 characters

In [32]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [38]:
#imports from python standard library
import math
math.sqrt(16)  # module name.attribute(function) name in module

4.0

"THIS IS MARKDOWB" CNT+SHFT +F

In [46]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.5/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793

FILE
    /home/vijay/anaconda2/envs/py35/lib/python3.5/lib-dynload/math.cpython-35m-x86_64-linux-gnu.so

In [49]:
n=5
k=3
from math import factorial as fac

fac(n)/(fac(k)-fac(n-k))

30.0

In [60]:
n=120

fac(n)

6689502913449127057588118054090372586752746333138029810295671352301633557244962989366874165271984981308157637893214090552534408589408121859898481114389650005964960521256960000000000000000000000000000

In [55]:
len(str(fac(n)))

158

In [62]:
int("444")

444

In [63]:
#float 16 to 16 decimal number significance
3e8

300000000.0

In [70]:
3e-3

0.003

In [72]:
#none  means absesce of a value

In [73]:
a=None

In [75]:
a is None

True

In [79]:
1==1 & 1!=1 & 1>1 & 1>=1

False

In [84]:
h=1
if (1==h):
    print("ANSWER IS ONE")
else:
    print("ANSWER IS NOT ONE")

ANSWER IS ONE

In [88]:
#We did not use 2 if -because zen of python (flat is better)
h=3
if (1==h):
    print("ANSWER IS ONE")
elif(h==2):
    print("ANSWER IS NOT two")
else:
    print("I HAVE NO CLUE")

I HAVE NO CLUE

In [4]:
i=0
while i<=5:
    print(i)
    i+=1

0
1
2
3
4
5

In [6]:
i=5
while i!=0:
    print(i)
    i-=1

5
4
3
2
1

In [1]:
i=5
while i!=160:
    print(i)
    i*=2

5
10
20
40
80

#collection
str,bytes,list.dict

zen:practility beats purity that's why stringhas 2 ways to quote ' and ""

In [7]:
''' this is a
multi line staring
now you know '''

#see docs python.org for more escape sequence

' this is a\nmulti line staring\nnow you know '

In [26]:
path = 'D:\\vijay\\jagu\\'

In [27]:
path

'D:\\vijay\\jagu\\'

In [28]:
print(path)

D:\vijay\jagu\

In [30]:
path[3]

'v'

In [31]:
#LIST

In [32]:
a = [1,2,4,6]

In [34]:
a[2] ='f'

In [35]:
a

[1, 2, 'f', 6]

In [37]:
a[3]

6

In [42]:
a.append(8.9)

In [43]:
a

[1, 2, 'f', 6, 8.9]

In [44]:
#distionary
d ={'alice':9972222,'bob':22222}

In [45]:
d['alice']

9972222

In [46]:
cities = ["LONDON","NEW YORK","TORONTO","BANGALORE"]

In [47]:
for i in cities:
    print(i)

LONDON
NEW YORK
TORONTO
BANGALORE

In [48]:
#if you iterate over dictonary you get keys ,which you can then use

In [49]:
color = {'BLUE':'XO123','BLACK':'X0124','WHITE':'X000'}

In [51]:
for i in color:
    print(i,color[i])

WHITE X000
BLUE XO123
BLACK X0124

MODULE
#DEFINATION OF REUSABLE RELATED FUNCTIONS GROUPED TOGTHER IN FILES

zen:pep8 recommends 2 lines between functions, seewords.py in pyfund

#on reppel pyton command line
import words
help(words.fetch_words)
tis will show the help written in """ ** """
these doc strings can eb added on all functions

#Garbage collector manages values assigned to variable
a=10 then a=20 the int value 10 will remain until garbage collector clean it ,if another variable c=10 then 10 will remain

In [54]:
a=2222
a

2222

In [55]:
id(a)

139927896791120

In [56]:
a is b

False

In [57]:
m = [1,2,3,4]
def modify(k):
    k.append(10)
    print("k=",k)

In [58]:
modify(m)

k= [1, 2, 3, 4, 10]

In [60]:
#example of dynamism of type system
def add(a,b):
    return a+b

add(1,2)

3

In [66]:
add("a","b")
#you cannot add int to stry - type conversion does not hapen implicitely
#pyton has dynamic ( not resolved till running) and strong typed (no implisit conversion 1+a not work)

'ab'

# python name scope
local: inside the current function
enclosing: any and all enclosed function
global:top level modul
built in:

L E G B

#GLOBAL NAMES:or module scope name
MAIN,SYS,__name__(provided by python run time),print_items etc implimited by import or function definations

#local scope name snormally loops

#if global and local variable have same name different value- the local variabl values survive

# collection
str,dict,list,tuple,range,set

# tuple

In [69]:
#tuple: immutable - once created cannot be changed
t = (1,2,"ggg")
t[2]

'ggg'

In [70]:
t+(3,4)

(1, 2, 'ggg', 3, 4)

In [71]:
#can have nested tuple-use repeted index to get inner element
tup = ((201,222),(123,222),(1234,3333),(2233,2244))

In [72]:
tup

((201, 222), (123, 222), (1234, 3333), (2233, 2244))

In [74]:
tup[2][1]

3333

In [77]:
t = (22,33,44,22,11,44,55,66,44,66)

def minmax(t):
    return min(t),max(t)

In [78]:
lower,upper = minmax(t)

In [79]:
print(lower,upper)

11 66

In [4]:
import collections

Person = collections.namedtuple('Person', 'name age gender')
bob = Person(name='Bob', age=30, gender='male')
jane = Person(name='Jane', age=29, gender='female')

In [11]:
bob.age

30

# STR

In [82]:
#str use join to add 2 string as it is memeory friendly
colors =';'.join(['sss','ffff','ddd'])
colors

'sss;ffff;ddd'

In [83]:
colors.split(';')

['sss', 'ffff', 'ddd']

In [84]:
#partition returns a tuple
"unforgetable".partition("forget")

('un', 'forget', 'able')

In [86]:
#filed names matched with positional args
"the age of {0} is {1} has started".format('Chanda',22)

'the age of Chanda is 22 has started'

In [87]:
"current position {longitude} and {latitude}".format(latitude='30n',longitude='10n')

'current position 10n and 30n'

In [89]:
import math
"mATH CONSTANT: PI={m.pi}".format(m=math)

'mATH CONSTANT: PI=3.141592653589793'

In [46]:
s ="hello guys"
s[0:4]
#s[5]="p" #immutable

'hell'

# RANGE

In [91]:
range(5)

range(0, 5)

In [93]:
for i in range(5):
    print (i)

0
1
2
3
4

In [94]:
list(range(5,8))

[5, 6, 7]

In [97]:
#range with step argument
list(range(2,13,2))

[2, 4, 6, 8, 10, 12]

In [98]:
#**AVOID ITERATING OVER LIST

In [100]:
T = [2,4,55,6,77]
for p in enumerate(T):
    print(p)

(0, 2)
(1, 4)
(2, 55)
(3, 6)
(4, 77)

In [102]:
for p,q in enumerate(T):
    print("p={},q={}".format(p,q))

p=0,q=2
p=1,q=4
p=2,q=55
p=3,q=6
p=4,q=77

# LIST

In [157]:
#INDEX,SLICING
l = ['show','how','to','index','into','useful','stuff']

In [158]:
l[2:4]

['to', 'index']

In [159]:
l[-1]

'stuff'

In [160]:
l[0]

'show'

In [161]:
l[1]

'how'

In [162]:
l[1:-1] #slice between 1 and -1
#slice[seq start: seq stop],negative index can be used to avoic len(d)-1
#negative index is one based,forward is 0 based

['how', 'to', 'index', 'into', 'useful']

In [163]:
l[1:6]

['how', 'to', 'index', 'into', 'useful']

In [164]:
l[2:]

['to', 'index', 'into', 'useful', 'stuff']

In [165]:
l[:2]

['show', 'how']

In [166]:
l[:]

['show', 'how', 'to', 'index', 'into', 'useful', 'stuff']

In [167]:
#list repetation
a = [1,1,1]
a=a*3
a

[1, 1, 1, 1, 1, 1, 1, 1, 1]

In [168]:
s = l[:]

In [169]:
s #refers to same objects reffered by l

['show', 'how', 'to', 'index', 'into', 'useful', 'stuff']

In [172]:
l.reverse() #l.sort()

In [171]:
l

['stuff', 'useful', 'into', 'index', 'to', 'how', 'show']

In [175]:
#l1 = l2+l3 concat no chnage in values     extend
a+=[2,2]

In [174]:
a

[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2]

# DICT

THE VALUES ARE ACCESABLE BU KEY, KEY MUST BE UNIQUE
INTERNALLY DICT MAINTAIN PAIRS OF REF : KEY MUST BE IMMUTABLE SO STRING,NUMBER AND TUPLE IS OK,NOT LIST

In [14]:
names_ages = [('alice',23),('bob',33),('shilpi',33)]

In [178]:
type(names_ages)

list

In [17]:
d = dict(names_ages)

In [18]:
d

{'alice': 23, 'bob': 33, 'shilpi': 33}

In [19]:
#copy n = dict(d)
#update/merge dict

In [20]:
g = dict(shilpi=32)

In [21]:
d.update(g)

In [22]:
d

{'alice': 23, 'bob': 33, 'shilpi': 32}

In [25]:
d["alice"]

23

In [27]:
d.get("shilpi")

32

In [189]:
# SET

In [30]:
S = {2,4,5,6} #SIMILAR TO DICT NO KET VALUE PAIR

In [31]:
e = set() #empty set

In [32]:
#duplicates are disgarded,so can be used to remove dups

In [40]:
e[0]

TypeError: 'set' object does not support indexing

# EXCEPTION HANDLING

In [198]:
#RAISE,HANDLE (RESUME CONTROL),UNHANDLE (ENDS PROGRAM)
#EXCEPTION OBJECT HAS INFO ON EXCEPTIONAL EVENT # see code file

In [199]:
#try finally clean up making comtext manager

In [200]:
words = " some time I take a walk two km long".split()

In [201]:
words

['some', 'time', 'I', 'take', 'a', 'walk', 'two', 'km', 'long']

In [204]:
#list comprehension
#object on right ,expression inleft
[len(word) for word in words]

[4, 4, 1, 4, 1, 4, 3, 2, 4]

In [207]:
lengths =[]
for i in words:
    lengths.append(len(i))

In [208]:
lengths

[4, 4, 1, 4, 1, 4, 3, 2, 4]

In [210]:
from math import factorial
f = [len(str(factorial(x))) for x in range(20)]

In [211]:
f

[1, 1, 1, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 18]

In [212]:
#DICT COMPREHENSION
country_to_capital = {'UNITED KINGDOM':'LONDON','BRAZIL':'PORTO ROCO','INDIA':'N DELHI'}

In [215]:
capital_to_country = {capital:country for country,capital in country_to_capital.items()}
#look up in opposite direction

In [214]:
capital_to_country

{'LONDON': 'UNITED KINGDOM', 'N DELHI': 'INDIA', 'PORTO ROCO': 'BRAZIL'}

In [1]:
g = lambda x: x**2

In [2]:
g(3)

9

In [1]:
data = 'From stephen.marquard@uct.ac.za Sat'

In [2]:
atpos = data.find('@')

In [3]:
print(atpos)

21

In [5]:
sppos = data.find(' ',atpos)
print(sppos)

31

In [6]:
host = data[atpos+1:sppos]

In [7]:
host

'uct.ac.za'

In [8]:
#open a file

In [10]:
fhand = open('mbox.txt')

In [12]:
type(fhand)

_io.TextIOWrapper

In [14]:
print(fhand)

<_io.TextIOWrapper name='mbox.txt' mode='r' encoding='UTF-8'>

In [15]:
stuff = 'Hello\nWorld!'

In [16]:
stuff

'Hello\nWorld!'

In [17]:
print(stuff)

Hello
World!

In [19]:
fhand = open('mbox.txt')
count = 0
for line in fhand:
    count = count + 1
    print('Line Count:', count)

Line Count: 1
Line Count: 2

In [20]:
fhand = open('mbox.txt')
count = 0
for line in fhand:
    count = count + 1
    print('Line Count:', line)

Line Count: 12,vijay

Line Count: 13,suma

In [ ]:
#ELEMENTS AI
AAWWWEEEAAAR A2W3E3A3R1