In [1]:
# fibonacci and recursion:
# use recursion when solution to a problem is smaller instances of the same problem
#1,1,2,3,5,8 .. sum of last 2

In [3]:
def  fixy(n):
    if n == 1:
        return 1
    if n ==2:
        return 1
    if n >=3:
        return (fixy(n-1) + fixy(n-2))

In [10]:
for i in range(1,10):
    print(fixy(i))

1
1
2
3
5
8
13
21
34

In [2]:
# sum of last 2:  1,2,3,4 ==> 1, 1, 2, 3, 5 

def febonaci(n):

    if n == 1:
        return 1
    if n == 2:
        return 1
    if n >= 3:
        return (febonaci(n-1) + febonaci(n-2))

In [13]:
import time
start_time = time.time()
for i in range(1,33,1):
    print(i," : ",febonaci(i))
print("--- %s seconds ---" % (time.time() - start_time))

1  :  1
2  :  1
3  :  2
4  :  3
5  :  5
6  :  8
7  :  13
8  :  21
9  :  34
10  :  55
11  :  89
12  :  144
13  :  233
14  :  377
15  :  610
16  :  987
17  :  1597
18  :  2584
19  :  4181
20  :  6765
21  :  10946
22  :  17711
23  :  28657
24  :  46368
25  :  75025
26  :  121393
27  :  196418
28  :  317811
29  :  514229
30  :  832040
31  :  1346269
32  :  2178309
--- 3.3106820583343506 seconds ---

In [14]:
# with memory as the above takes  alot of time recursing
# sum of last 2:  1,2,3,4 ==> 1, 1, 2, 3, 5 
cach = {} # keep idct out
def febonaci_mem(n): 
    if n in cach:  # first check dict
        return cach[n]
    if n == 1:
        #dct[n] = 1
        return 1
    if n == 2:
        #dct[n] = 1
        return 1
    if n > 2:
        value = (febonaci_mem(n-1)+febonaci_mem(n-2)) # add values to dict
        cach[n] =  value
        return value

In [15]:
import time
start_time = time.time()
for i in range(1,33,1):
    print(i," : ",febonaci_mem(i))
print("--- %s seconds ---" % (time.time() - start_time))

1  :  1
2  :  1
3  :  2
4  :  3
5  :  5
6  :  8
7  :  13
8  :  21
9  :  34
10  :  55
11  :  89
12  :  144
13  :  233
14  :  377
15  :  610
16  :  987
17  :  1597
18  :  2584
19  :  4181
20  :  6765
21  :  10946
22  :  17711
23  :  28657
24  :  46368
25  :  75025
26  :  121393
27  :  196418
28  :  317811
29  :  514229
30  :  832040
31  :  1346269
32  :  2178309
--- 0.020049333572387695 seconds ---

In [79]:
def new_mergesort(a):

    if (len(a) == 1):
        return a
    if (len(a) >= 2):
        mid_point = len(a)//2
        #print(mid_point)
        left_array = new_mergesort(a[:mid_point]) # divide until you reach 1
        right_array = new_mergesort(a[mid_point:])
        print(left_array)
        return merge(left_array,right_array)
#-------------------------------------------
def merge(left_array, right_array):
    new_array = []
    i, j = 0, 0
    while i < len(left_array) and j < len(right_array):
        if (left_array[i] < right_array[j]):
            new_array.append(left_array[i])
            i += 1
            #return(new_array)
        else:
            new_array.append(right_array[j])
            j += 1
            #return(new_array)
    new_array += (left_array[i:])
    new_array += (right_array[j:])
    return(new_array)

In [80]:
a = [2,4,1,5,9,7]
new_mergesort(a)

[4]
[2]
[9]
[5]
[1, 2, 4]

[1, 2, 4, 5, 7, 9]

In [ ]:
# read a file separated by % , each document across many rows,count the unique words in doc, count words in each row,sum up all word count parse

In [136]:
# read the whole file
file = open("documents.txt")
print(file.read()) #f.read() tells the file object to read the full contents of the file, and return it as a string

The earliest airline routes between Australia and the U.K. subjected
travellers to several days worth of stopovers and plane changes.
%
But now, a non-stop journey along the so-called "Kangaroo Route" is a reality
after the inaugural Qantas Airways flight
landed in London yesterday — 17 hours after departing from Perth, Australia.
%

"It is a history-making flight," passenger Wayne Kwong told As It Happens host Carol Off.
%
"The atmosphere — before departure, during the flight and after — it was amazing."
%
Kwong and his fellow passengers — who included Qantas CEO Alan Joyce, several politicians and a large contingent of
 international journalists — were treated to a number of special amenities in order to ease the journey.
%
The Boeing 787-9 Dreamliner featured larger windows and improved cabin humidity to fight the effects of jet lag.
%

In [6]:
type(file)

_io.TextIOWrapper

f = open("documents.txt")
next = f.read(5)
while next != "":
    print(next)
    next = f.read(5) # read 5 letters

In [159]:
# read line by line
file = open("documents.txt")
lines = file.readlines()
print(type(lines),lines)

<class 'list'> ['The earliest airline routes between Australia and the U.K. subjected \n', 'travellers to several days worth of stopovers and plane changes. \n', '%\n', 'But now, a non-stop journey along the so-called "Kangaroo Route" is a reality\n', 'after the inaugural Qantas Airways flight \n', 'landed in London yesterday — 17 hours after departing from Perth, Australia. \n', '%\n', '\n', '"It is a history-making flight," passenger Wayne Kwong told As It Happens host Carol Off.\n', '%\n', '"The atmosphere — before departure, during the flight and after — it was amazing." \n', '%\n', 'Kwong and his fellow passengers — who included Qantas CEO Alan Joyce, several politicians and a large contingent of\n', ' international journalists — were treated to a number of special amenities in order to ease the journey.\n', '%\n', 'The Boeing 787-9 Dreamliner featured larger windows and improved cabin humidity to fight the effects of jet lag. \n', '%\n']

In [160]:
type(lines)

list

In [16]:
# read line by line split by %
file = open("documents.txt")
text = file.read()
lines = text.split('%')
#.split('%')
print(lines)

['The earliest airline routes between Australia and the U.K. subjected \ntravellers to several days worth of stopovers and plane changes. \n', '\nBut now, a non-stop journey along the so-called "Kangaroo Route" is a reality\nafter the inaugural Qantas Airways flight \nlanded in London yesterday — 17 hours after departing from Perth, Australia. \n', '\n\n"It is a history-making flight," passenger Wayne Kwong told As It Happens host Carol Off.\n', '\n"The atmosphere — before departure, during the flight and after — it was amazing." \n', '\nKwong and his fellow passengers — who included Qantas CEO Alan Joyce, several politicians and a large contingent of\n international journalists — were treated to a number of special amenities in order to ease the journey.\n', '\nThe Boeing 787-9 Dreamliner featured larger windows and improved cabin humidity to fight the effects of jet lag. \n', '\n']

In [17]:
# find unique words
all_words = text.split()
unique_words = set(all_words)
print(unique_words)
print(type(unique_words))

# create a dictionary from set
unique_words_dict = dict.fromkeys(unique_words, 0)
print(unique_words_dict)

{'cabin', 'departure,', 'yesterday', 'stopovers', 'the', 'days', 'larger', 'Airways', '—', 'plane', 'Dreamliner', 'of', 'and', 'travellers', 'The', 'is', 'U.K.', 'large', 'CEO', 'airline', 'number', 'But', 'his', 'included', '"The', 'now,', 'amazing."', 'several', 'Joyce,', 'order', 'subjected', 'Off.', 'journey.', 'journalists', 'London', 'Carol', 'between', 'Perth,', 'landed', 'humidity', 'lag.', '"Kangaroo', 'flight', 'ease', 'Wayne', 'atmosphere', 'inaugural', 'Route"', 'contingent', 'Happens', 'after', 'passengers', 'before', 'windows', 'to', 'featured', 'journey', 'told', 'in', 'passenger', 'effects', 'who', 'routes', 'departing', 'As', 'politicians', 'non-stop', 'fight', 'so-called', 'reality', 'Australia.', 'flight,"', 'Boeing', 'jet', 'treated', 'special', 'fellow', '"It', 'hours', 'host', 'along', 'during', 'earliest', 'changes.', '%', 'amenities', 'Qantas', 'It', 'worth', 'it', 'Alan', 'from', '17', 'Australia', 'were', 'improved', 'history-making', 'a', 'international', '787-9', 'Kwong', 'was'}
<class 'set'>
{'cabin': 0, 'departure,': 0, 'yesterday': 0, 'to': 0, 'featured': 0, 'so-called': 0, 'journey': 0, 'stopovers': 0, 'the': 0, 'days': 0, 'larger': 0, 'Australia': 0, 'Airways': 0, '—': 0, 'plane': 0, 'before': 0, 'Dreamliner': 0, 'of': 0, 'and': 0, 'improved': 0, 'travellers': 0, 'in': 0, 'is': 0, 'passenger': 0, 'effects': 0, 'U.K.': 0, 'who': 0, 'Australia.': 0, 'CEO': 0, 'departing': 0, 'order': 0, 'As': 0, 'politicians': 0, 'non-stop': 0, 'airline': 0, 'fight': 0, 'Boeing': 0, 'reality': 0, 'flight,"': 0, 'number': 0, 'But': 0, 'jet': 0, 'treated': 0, 'his': 0, 'special': 0, 'included': 0, 'history-making': 0, '"The': 0, 'now,': 0, 'journey.': 0, 'fellow': 0, '"It': 0, 'hours': 0, 'host': 0, 'amazing."': 0, 'several': 0, 'Joyce,': 0, 'subjected': 0, 'along': 0, 'Off.': 0, 'during': 0, 'journalists': 0, 'London': 0, 'The': 0, 'earliest': 0, 'Carol': 0, 'between': 0, 'Perth,': 0, 'changes.': 0, '%': 0, 'landed': 0, 'amenities': 0, 'Qantas': 0, 'It': 0, 'humidity': 0, 'told': 0, 'worth': 0, 'large': 0, 'lag.': 0, 'it': 0, 'from': 0, '"Kangaroo': 0, 'flight': 0, '17': 0, 'ease': 0, 'Wayne': 0, 'were': 0, 'atmosphere': 0, 'inaugural': 0, 'Route"': 0, 'Alan': 0, 'contingent': 0, 'Happens': 0, 'a': 0, 'after': 0, 'international': 0, 'passengers': 0, '787-9': 0, 'routes': 0, 'windows': 0, 'Kwong': 0, 'was': 0}

In [18]:
# find a count of all the words
for word in all_words:
    if word in unique_words_dict:
        unique_words_dict[word]+=1
        
print(unique_words_dict)

{'cabin': 1, 'departure,': 1, 'yesterday': 1, 'to': 4, 'featured': 1, 'so-called': 1, 'journey': 1, 'stopovers': 1, 'the': 6, 'days': 1, 'larger': 1, 'Australia': 1, 'Airways': 1, '—': 5, 'plane': 1, 'before': 1, 'Dreamliner': 1, 'of': 4, 'and': 6, 'improved': 1, 'travellers': 1, 'in': 2, 'is': 2, 'passenger': 1, 'effects': 1, 'U.K.': 1, 'who': 1, 'Australia.': 1, 'CEO': 1, 'departing': 1, 'order': 1, 'As': 1, 'politicians': 1, 'non-stop': 1, 'airline': 1, 'fight': 1, 'Boeing': 1, 'reality': 1, 'flight,"': 1, 'number': 1, 'But': 1, 'jet': 1, 'treated': 1, 'his': 1, 'special': 1, 'included': 1, 'history-making': 1, '"The': 1, 'now,': 1, 'journey.': 1, 'fellow': 1, '"It': 1, 'hours': 1, 'host': 1, 'amazing."': 1, 'several': 2, 'Joyce,': 1, 'subjected': 1, 'along': 1, 'Off.': 1, 'during': 1, 'journalists': 1, 'London': 1, 'The': 2, 'earliest': 1, 'Carol': 1, 'between': 1, 'Perth,': 1, 'changes.': 1, '%': 6, 'landed': 1, 'amenities': 1, 'Qantas': 2, 'It': 1, 'humidity': 1, 'told': 1, 'worth': 1, 'large': 1, 'lag.': 1, 'it': 1, 'from': 1, '"Kangaroo': 1, 'flight': 2, '17': 1, 'ease': 1, 'Wayne': 1, 'were': 1, 'atmosphere': 1, 'inaugural': 1, 'Route"': 1, 'Alan': 1, 'contingent': 1, 'Happens': 1, 'a': 5, 'after': 3, 'international': 1, 'passengers': 1, '787-9': 1, 'routes': 1, 'windows': 1, 'Kwong': 2, 'was': 1}

In [19]:
#It is not possible to sort a dict, only to get a representation of a dict that is sorted. 
#Dicts are inherently orderless, but other types, such as lists and tuples, are not.
#So you need an ordered data type to represent sorted values, which will be a list—probably a list of tuples.
import operator
sorted_x = sorted(unique_words_dict.items(), key=operator.itemgetter(1))

In [20]:
sorted_x

[('cabin', 1),
 ('departure,', 1),
 ('yesterday', 1),
 ('featured', 1),
 ('so-called', 1),
 ('journey', 1),
 ('stopovers', 1),
 ('days', 1),
 ('larger', 1),
 ('Australia', 1),
 ('Airways', 1),
 ('plane', 1),
 ('before', 1),
 ('Dreamliner', 1),
 ('improved', 1),
 ('travellers', 1),
 ('passenger', 1),
 ('effects', 1),
 ('U.K.', 1),
 ('who', 1),
 ('Australia.', 1),
 ('CEO', 1),
 ('departing', 1),
 ('order', 1),
 ('As', 1),
 ('politicians', 1),
 ('non-stop', 1),
 ('airline', 1),
 ('fight', 1),
 ('Boeing', 1),
 ('reality', 1),
 ('flight,"', 1),
 ('number', 1),
 ('But', 1),
 ('jet', 1),
 ('treated', 1),
 ('his', 1),
 ('special', 1),
 ('included', 1),
 ('history-making', 1),
 ('"The', 1),
 ('now,', 1),
 ('journey.', 1),
 ('fellow', 1),
 ('"It', 1),
 ('hours', 1),
 ('host', 1),
 ('amazing."', 1),
 ('Joyce,', 1),
 ('subjected', 1),
 ('along', 1),
 ('Off.', 1),
 ('during', 1),
 ('journalists', 1),
 ('London', 1),
 ('earliest', 1),
 ('Carol', 1),
 ('between', 1),
 ('Perth,', 1),
 ('changes.', 1),
 ('landed', 1),
 ('amenities', 1),
 ('It', 1),
 ('humidity', 1),
 ('told', 1),
 ('worth', 1),
 ('large', 1),
 ('lag.', 1),
 ('it', 1),
 ('from', 1),
 ('"Kangaroo', 1),
 ('17', 1),
 ('ease', 1),
 ('Wayne', 1),
 ('were', 1),
 ('atmosphere', 1),
 ('inaugural', 1),
 ('Route"', 1),
 ('Alan', 1),
 ('contingent', 1),
 ('Happens', 1),
 ('international', 1),
 ('passengers', 1),
 ('787-9', 1),
 ('routes', 1),
 ('windows', 1),
 ('was', 1),
 ('in', 2),
 ('is', 2),
 ('several', 2),
 ('The', 2),
 ('Qantas', 2),
 ('flight', 2),
 ('Kwong', 2),
 ('after', 3),
 ('to', 4),
 ('of', 4),
 ('—', 5),
 ('a', 5),
 ('the', 6),
 ('and', 6),
 ('%', 6)]

In [1]:
# REVERSE A STRING

In [2]:
#way1
strng = "vijay"
strng[::-1]

'yajiv'

In [5]:
#way2
def reverse_string(strng):
    length = len(strng)
    newString = []
    for i in range(1,length+1,1):
        newString.append(strng[-i])
    return("".join(newString))

In [6]:
reverse_string('japani')

'inapaj'

In [7]:
# check if a number is Palindrome, ie reversed it must be teh same
num1 = 2234
num2 = 2112

def check_palindrome(num):
    num = str(num)
    numRev = num[::-1]
    if num == numRev:
        print("Palio found")
    else:
        print("Palio no found")
    #print(numRev)

In [8]:
check_palindrome(num2)

Palio found

In [9]:
# print out the first repeating charater
# A,B,C,A -> A
# B,C,A,B,A -> B
#A,B,C -> NAN

In [23]:
lst = ['A','B','C','B','D']
nw_lst = []

In [24]:
for i in lst:
    if lst.count(i) > 1:
        print(i)
        break

B

In [28]:
i = str(111123)
i = i[::-1]

In [29]:
int(i)

321111

In [30]:
lst = [5,1,2,7,8]

In [51]:
# list comprehension creating alist
lst = [i*100 for i in range(8) if i%2 == 0]

In [52]:
lst

[0, 200, 400, 600]

In [49]:
2/2

1.0

In [50]:
4/2

2.0

https://www.youtube.com/watch?v=R-HLU9Fl5ug  # pythin data structures
https://rob-bell.net/2009/06/a-beginners-guide-to-big-o-notation/

* you need to hire a new candiate in place of the old one # cost 2000 #budget 3500
* you take the help of a consultancy, they charge you 50  per candidate and if you select one then 500
* salary of employess goes increasing very candidate by 1.2
* how many candidates can I interview?

In [81]:
total_budget = 3500
replacement_cost = 2000
cumulative_cost = 0
initial_cost = 0
interview_cost = 50
placement_cost = 500
cost_lst = []
for i in range(23):
    if i is not 0:
        interview_cost = interview_cost * 1.2
    tc = placement_cost+replacement_cost
    
    if (interview_cost + tc) > total_budget:
        break
    cost_lst.append(tc+interview_cost)


    
print(cost_lst)

[2550, 2560.0, 2572.0, 2586.4, 2603.68, 2624.416, 2649.2992, 2679.15904, 2714.990848, 2757.9890176, 2809.58682112, 2871.504185344, 2945.8050224128, 3034.96602689536, 3141.959232274432, 3270.351078729318, 3424.4212944751816]

# factors of numner 24
              24
    6                     4
2       3             2       2

In [82]:
#!3 = 3*2*1

In [54]:
#Tree traversal algorithms

In [ ]:
#airline_tweets['tweet_coord'].apply(lambda x: x.split(',')  do tis on list and np array

3 foo
5 baz

3& 5 multiple foobaz


list with one even
list with one odd

write a def to split out odd one out

In [7]:
for i in range(1,16,1):
    if (i%3 == 0) & (i%5 == 0)  :
        print(i ,'foobaz')        
    elif i%3 == 0:
        print(i,'foo')
    elif i%5 == 0:
        print(i,'baz')

3 foo
5 baz
6 foo
9 foo
10 baz
12 foo
15 foobaz

In [22]:
lst1 = [2,4,6,8,5,10,12]
lst2 = [1,3,5,7,2,9]
# print the unusual number in these 2 list

In [108]:
def print_unsual(lst):
    var1 = 0
    if lst[0]%2 ==0:
        var1 +=1
    if lst[1]%2 == 0:
        var1 +=1
    if lst[2]%2 == 0:
        var1 +=1
    
    if var1 >= 2:
        for i in lst:
            if i%2 != 0:
                print(i)
    else:
        for i in lst:
            if i%2 == 0:
                print(i)

In [110]:
print_unsual(lst1)

5

In [112]:
# pythonic smaller if condition
#result = (on_false, on_true)[condition]

In [1]:
a = [2,4,5,2,3,5,7]
# check if a is odd or even
result = [i for i in a if i%2==0]

In [2]:
result

[2, 4, 2]

In [142]:
odd_ineven = [i for i in lst1 if i%2 != 0 ] # list comprehension

In [143]:
odd_ineven

[5]

In [152]:
findOddEven = [0 if i%2 ==0 else 1 for i in lst1]
findOddEven

[0, 0, 0, 0, 1, 0, 0]

In [135]:
[(x, y) for x in lst1 for y in lst2 if x == y] # cross join of 2 lists

[(2, 2), (5, 5)]

In [ ]:
[i for i in lst1 if i%2 != 0]

First, I wanna know how much money I could have made yesterday if I'd been trading Apple stocks all day.

So I grabbed Apple's stock prices from yesterday and put them in a list called stock_prices_yesterday, where:

    The indices are the time (in minutes) past trade opening time, which was 9:30am local time.
    The values are the price (in US dollars) of one share of Apple stock at that time.

So if the stock cost $500 at 10:30am, that means stock_prices_yesterday[60] = 500.

Write an efficient function that takes stock_prices_yesterday and returns the best profit I could have made from one purchase and one sale of one share of Apple stock yesterday.

In [2]:
stock_prices_yesterday = [10, 7, 5, 8, 11, 9, 13, 8]

In [5]:
max_price = max(stock_prices_yesterday)
min_price = min(stock_prices_yesterday)
print('Buy at ', min_price, 'Sell at ', max_price)

Buy at  5 Sell at  13

In [15]:
def merg_sort(a,b):
    new_lst = []
    if a < b:
        new_lst.append(a)
        new_lst.append(b)
    else:
        new_lst.append(b)
        new_lst.append(a)
        
    
    return new_lst

In [18]:
merg_sort(3,5)

[3, 5]

In [31]:
def list_breaker(lst):
    mid = len(lst)//2
    if len(lst) > 1:
        left_lst = list_breaker(lst[0:mid])
        print(left_lst)

In [32]:
list_breaker([3,2,4,5])

None
None

In [34]:
# Given a time, calculate the angle between the hour and minute hands

def min_to_hour(hour,minute):
    degree =  minute*6
    return hour, degree

In [38]:
hour, degree = min_to_hour(3,27)

In [39]:
hour

3

In [40]:
degree

162

In [2]:
''.join(['vija','y'])

'vijay'

In [9]:
name = 'vija' + 'y'
name

'vijay'

In [ ]:
# ''.join('vija','y')

In [ ]:
#Write a method to replace all spaces in a string with ‘%20’.

In [26]:
# binary search
srtd_lst = [2,4,5,6,7,8,9,10,11,15,18,22]

In [50]:
def binary_sort(srtd_lst,val):
    mid = len(srtd_lst)//2
    left_lst = srtd_lst[:mid]
    right_lst =  srtd_lst[mid:]
    
    if mid == 1:
        print('my value is {}'.format(srtd_lst))
    
    if left_lst[-1] >= val:
        print('my value is here left',left_lst)
        binary_sort(left_lst,val)
    else:
        print('my value is in right',right_lst)
        binary_sort(right_lst,val)
        
    
    print(left_lst)
    print(right_lst)

In [52]:
binary_sort(srtd_lst,18)

my value is in right [9, 10, 11, 15, 18, 22]
my value is in right [15, 18, 22]
my value is [15, 18, 22]
my value is in right [18, 22]
my value is [18, 22]
my value is here left [18]

IndexError: list index out of range

In [18]:
lst = [1,3,2,5,3,2,5,8,4]
nwl = []
def retur_even(lst):
    for i in lst:
        #print(i)
        if i % 2 == 0:
            nwl.append(i)
    return nwl
    print(set(lst))

In [19]:
retur_even(lst)

[2, 2, 8, 4]

In [20]:
help(range)

Help on built-in function range in module __builtin__:

range(...)
    range(stop) -> list of integers
    range(start, stop[, step]) -> list of integers

    Return a list containing an arithmetic progression of integers.
    range(i, j) returns [i, i+1, i+2, ..., j-1]; start (!) defaults to 0.
    When step is given, it specifies the increment (or decrement).
    For example, range(4) returns [0, 1, 2, 3].  The end point is omitted!
    These are exactly the valid indices for a list of 4 elements.

In [2]:
# 1 2 3 4 5 6 7
#1 1 2 3 5 8 13 21

def fibki(int):
    if int == 1:
        return 1
    elif int == 2:
        return 1
    elif int >= 3:
        var = fibki(int-1) + fibki(int-2)
        return var

In [6]:
import time
start_time = time.time()
for i in range(32):
    print(fibki(i))
    end_time = time.time()
print (end_time-start_time)

None
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
4.39653396606

In [25]:
dct = {}
def fibki_nitro(int):
    if int in dct.keys():
        return (dct[int])
        
    if int == 1:
        dct[int]=1
        return 1
    elif int == 2:
        dct[int]=1
        return 1
    elif int >= 3:
        var = (fibki_nitro(int-1) + fibki_nitro(int-2))
        dct[int] = var
        return var

In [26]:
import time
start_time = time.time()
for i in range(32):
    print(fibki_nitro(i))
    end_time = time.time()
print (end_time-start_time)

None
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
0.021008014679

In [1]:
str = "vijay"

'a'