In [26]:
import pandas as pd
import numpy as np

In [94]:
airline_tweets = pd.read_csv('airline_tweets.csv', usecols=['airline_sentiment','tweet_coord'],encoding='utf-8')
airline_tweets=airline_tweets.dropna()
airline_tweets=airline_tweets.loc[airline_tweets['tweet_coord'] != '[0.0, 0.0]']
sentiment_map = { 'negative' : 0,'neutral' :1,'positive' : 2}
airline_tweets['airline_sentiment'] = airline_tweets['airline_sentiment'].map(sentiment_map)

cities = pd.read_csv( "cities.csv", delimiter="," ,header='infer',usecols=['name','latitude','longitude'],encoding='utf-8')
cities=cities.dropna()

In [95]:
cities['city_coord']= cities[['latitude','longitude']].values.tolist()

In [97]:
#df['result'] = df.result.str.extract('(\[])', expand=True).astype(float)
airline_tweets['tweet_coord'].replace(regex=True,inplace=True,to_replace=r'\[',value=r'')
airline_tweets['tweet_coord'].replace(regex=True,inplace=True,to_replace=r'\]',value=r'')
airline_tweets = airline_tweets.reset_index(drop=True)
#df2 = pd.DataFrame(airline_tweets['tweet_coord'].str.split(',').values.float())

In [98]:
airline_tweets[0:5]

   airline_sentiment                 tweet_coord
0                  2   40.74804263, -73.99295302
1                  0     42.361016, -71.02000488
2                  1   33.94540417, -118.4062472
3                  0  33.94209449, -118.40410103
4                  2     33.2145038, -96.9321504

In [99]:
s = airline_tweets['tweet_coord'].apply(lambda x: x.split(','))
airline_tweets['latitude'] = s.apply(lambda x: float(x[0]))
airline_tweets['longitude'] = s.apply(lambda x: float(x[1]))
airline_tweets.drop(['tweet_coord'],axis=1)

     airline_sentiment   latitude   longitude
0                    2  40.748043  -73.992953
1                    0  42.361016  -71.020005
2                    1  33.945404 -118.406247
3                    0  33.942094 -118.404101
4                    2  33.214504  -96.932150
5                    1  34.021982 -118.385912
6                    1  33.579633 -117.730248
7                    0  40.641371  -73.783116
8                    2  36.084579 -115.137801
9                    1  37.793744 -122.393276
10                   0  26.074379  -80.141683
11                   2  33.946904 -118.407168
12                   0  51.043456 -114.060714
13                   1  40.646625  -73.770902
14                   2  33.946529 -118.407663
15                   2  38.912819  -77.007982
16                   2  32.843596  -96.849109
17                   0  32.843770  -96.849284
18                   0  26.067267  -80.144337
19                   2  32.845478  -96.850459
20                   1  39.240873  -94.639950
21                   2  37.774650 -122.440322
22                   1  33.946968 -118.407480
23                   0  40.637674  -74.110755
24                   1  40.789866  -73.100683
25                   2  42.569678  -71.420569
26                   1  37.800653 -122.438574
27                   1  36.085464 -115.318141
28                   0  19.437066  -99.079271
29                   2  39.862125 -104.674091
..                 ...        ...         ...
825                  0  35.204932  -80.925408
826                  0  34.021488 -118.502896
827                  0  40.649311  -73.792631
828                  0  40.649355  -73.791988
829                  0  35.217667  -80.942691
830                  0  32.927217  -97.039631
831                  0  38.835985  -77.108648
832                  0  40.466946  -82.645791
833                  0  40.650620  -73.791713
834                  2  35.879125  -78.791621
835                  0  40.648245  -73.801420
836                  0  32.976087  -96.533322
837                  2  25.791013  -80.288617
838                  0  15.165932  120.583055
839                  0  38.854829  -77.041282
840                  0  47.248794 -122.438745
841                  2  40.647432  -73.793688
842                  0  32.976096  -96.533492
843                  2  40.686214  -74.179397
844                  2  44.263140  -69.781976
845                  0  40.807186  -73.954773
846                  0  38.536907 -106.934938
847                  0  38.538038 -106.937047
848                  0  33.641994  -84.442385
849                  0  32.907716  -97.042333
850                  0  33.939396 -118.389731
851                  0  35.225345 -106.572414
852                  0  40.466925  -82.645671
853                  0  32.907089  -97.037859
854                  2  40.649468  -73.766247

[855 rows x 3 columns]

In [100]:
airline_tweets['tweet_coord']= airline_tweets[['latitude','longitude']].values.tolist()

In [101]:
airline_tweets.dtypes

airline_sentiment      int64
tweet_coord           object
latitude             float64
longitude            float64
dtype: object

In [113]:
cities.dtypes

name           object
latitude      float64
longitude     float64
city_coord     object
dtype: object

In [103]:
airline_tweets[0:5]

   airline_sentiment                   tweet_coord   latitude   longitude
0                  2   [40.74804263, -73.99295302]  40.748043  -73.992953
1                  0     [42.361016, -71.02000488]  42.361016  -71.020005
2                  1   [33.94540417, -118.4062472]  33.945404 -118.406247
3                  0  [33.94209449, -118.40410103]  33.942094 -118.404101
4                  2     [33.2145038, -96.9321504]  33.214504  -96.932150

In [104]:
cities[0:5]

               name  latitude  longitude                      city_coord
0      les Escaldes  42.50729    1.53414   [42.507290000000005, 1.53414]
1  Andorra la Vella  42.50779    1.52109             [42.50779, 1.52109]
2    Umm al Qaywayn  25.56473   55.55517  [25.564729999999997, 55.55517]
3    Ras al-Khaimah  25.78953   55.94320             [25.78953, 55.9432]
4      Khawr Fakkān  25.33132   56.34199            [25.33132, 56.34199]

In [105]:
X=airline_tweets['tweet_coord']
X=X[:]
X=np.array(X)

Y =  cities['city_coord']
Y=Y[0:1000]
Y=np.array(Y)

In [38]:
X[0:10]

array([[40.74804263, -73.99295302], [42.361016, -71.02000488],
       [33.94540417, -118.4062472], [33.94209449, -118.40410103],
       [33.2145038, -96.9321504], [34.0219817, -118.38591198],
       [33.57963333, -117.73024772], [40.6413712, -73.78311558],
       [36.08457854, -115.13780136], [37.79374402, -122.39327564]], dtype=object)

In [39]:
Y

array([[42.507290000000005, 1.53414], [42.50779, 1.52109],
       [25.564729999999997, 55.55517], [25.78953, 55.9432],
       [25.33132, 56.34199], [25.0657, 55.17128],
       [25.59246, 56.261759999999995], [25.61955, 56.272909999999996],
       [25.33737, 55.41206], [24.11028, 52.73056],
       [25.116410000000002, 56.341409999999996],
       [24.191670000000002, 55.76056], [25.41111, 55.43504],
       [25.288120000000003, 55.881569999999996],
       [24.46667, 54.36666999999999], [30.95962, 61.860369999999996],
       [36.73605, 69.53451], [33.30294, 62.1474], [36.66757, 65.7529],
       [34.10737, 64.3052], [36.21544, 65.93249], [35.84972, 66.43694],
       [36.26468, 68.01550999999999], [37.12604, 69.83045],
       [37.41853, 66.04358], [37.219590000000004, 68.7802],
       [35.94458, 68.71512], [34.58787, 68.95091], [36.0649, 69.13343],
       [35.92139, 64.78361], [34.67139, 70.20944],
       [36.70904, 67.11086999999999], [31.59382, 64.37161],
       [33.29565, 61.95221], [36.72895, 68.857], [33.33951, 69.92041],
       [36.697359999999996, 67.69826], [31.529190000000003, 62.79055],
       [36.6825, 69.11556], [34.48108, 62.5863], [31.61332, 65.71013],
       [34.52813, 69.17233], [34.42647, 70.45153], [35.11833, 69.23778],
       [34.34817, 62.19967], [35.73062, 63.78264],
       [33.553909999999995, 68.42096], [31.820890000000002, 64.57005],
       [33.59744, 69.22592], [37.116640000000004, 70.58001999999999],
       [32.37451, 62.11638000000001], [34.66667, 61.066669999999995],
       [35.01361, 69.17139], [33.96744, 68.9492], [34.82156, 67.82734],
       [36.75635, 66.8972], [36.13068, 68.70829], [37.08571, 69.47958],
       [35.03333, 71.35809], [34.87311, 71.14697], [36.95293, 65.12376],
       [35.31292, 69.51519], [34.12583, 70.70778], [17.12096, -61.84329],
       [18.21704, -63.05783], [39.87556, 20.00528], [42.07694, 20.42194],
       [40.61861, 20.780829999999998], [40.075829999999996, 20.13889],
       [41.1125, 20.08222], [41.610279999999996, 20.00889],
       [40.46667, 19.489720000000002], [41.3275, 19.81889],
       [42.06828, 19.51258], [40.64278, 19.65083], [40.94194, 19.705],
       [41.783609999999996, 19.64361], [41.63556, 19.713060000000002],
       [40.80028, 19.91667], [41.509170000000005, 19.79278],
       [41.185559999999995, 19.55694], [40.71667, 19.566670000000002],
       [40.723890000000004, 19.55611], [41.32306, 19.44139],
       [40.70583, 19.95222], [39.20755, 46.40576],
       [39.511109999999995, 46.34168], [39.46405, 45.97047],
       [39.96144, 44.544470000000004],
       [39.830690000000004, 44.705690000000004], [40.18111, 44.51361],
       [40.16557, 44.29462], [41.00995, 44.38531],
       [40.832209999999996, 44.267309999999995], [40.5473, 44.94171],
       [40.06542, 44.41618], [40.804559999999995, 44.4939],
       [40.35398, 45.12386], [40.497479999999996, 44.7662],
       [40.15446, 44.03815], [40.7942, 43.845279999999995],
       [40.2991, 44.36204], [40.27368, 44.63348], [-9.66078, 20.39155],
       [-8.41915, 20.74466], [-10.70727, 22.22466],
       [-7.608739999999999, 15.06131], [-6.1349, 12.36894],
       [-7.231160000000001, 12.8666], [-9.29782, 14.911620000000001],
       [-6.26703, 14.2401], [-9.54015, 16.34096], [-8.83682, 13.23432],
       [-8.57848, 13.66425], [-5.55, 12.2], [-11.20605, 13.84371],
       [-15.196110000000001, 12.15222], [-14.6585, 17.69099],
       [-11.78333, 19.91667], [-14.91717, 13.4925],
       [-12.90667, 15.253329999999998], [-12.3644, 13.536010000000001],
       [-12.38333, 16.933329999999998],
       [-12.776110000000001, 15.739170000000001],
       [-12.430019999999999, 13.54677], [-12.15, 17.28333],
       [-12.01667, 17.48333], [-13.78333, 14.683329999999998],
       [-12.8525, 15.56056], [-12.576260000000001, 13.405470000000001],
       [-34.09814, -59.028580000000005], [-34.57973, -58.46829],
       [-28.48752, -59.35515], [-34.67907, -58.47263],
       [-31.8653, -59.02689], [-37.263940000000005, -56.973040000000005],
       [-34.42603, -58.57962], [-37.321670000000005, -59.13316],
       [-26.616670000000003, -54.13333000000001],
       [-28.549390000000002, -56.040769999999995], [-30.94768, -59.78696],
       [-26.62207, -54.108419999999995], [-27.5079, -58.55454],
       [-28.133059999999997, -58.76733], [-30.577809999999996, -59.9317],
       [-34.4721, -58.527080000000005], [-28.253840000000004, -58.62591],
       [-34.58333, -58.38333000000001], [-27.460559999999997, -58.98389],
       [-29.15, -59.65], [-34.729040000000005, -58.263740000000006],
       [-26.79598, -55.02401999999999], [-25.599120000000003, -54.57355],
       [-26.01517, -54.67306], [-26.40843, -54.694630000000004],
       [-27.367079999999998, -55.896080000000005], [-34.74785, -58.70072],
       [-25.73239, -59.10879], [-29.712509999999998, -57.087709999999994],
       [-27.487059999999996, -55.11994], [-38.5545, -58.73961],
       [-34.6509, -58.61956], [-30.253590000000003, -57.63626],
       [-26.5662, -54.757], [-34.65145, -59.43068], [-29.18416, -58.07519],
       [-38.00228, -57.55754], [-34.57028, -59.105],
       [-34.92145, -57.954530000000005], [-30.74485, -59.64566],
       [-27.043459999999996, -55.226980000000005],
       [-33.009370000000004, -58.517219999999995], [-33.14156, -59.30966],
       [-29.14395, -59.2651], [-28.05, -56.03333000000001],
       [-26.53743, -59.34158000000001],
       [-27.481709999999996, -55.829209999999996],
       [-26.177529999999997, -58.17814], [-27.418129999999998, -59.02392],
       [-30.95465, -58.78326], [-30.014440000000004, -59.527190000000004],
       [-27.298470000000002, -54.198769999999996], [-36.31321, -57.67918],
       [-29.79171, -58.0546], [-27.4806, -58.8341], [-31.39296, -58.02089],
       [-32.482490000000006, -58.23721999999999], [-34.57365, -58.44924],
       [-30.75048, -57.97962], [-34.16874, -58.959140000000005],
       [-34.61315, -58.377230000000004], [-27.48132, -58.93925],
       [-36.77698, -59.858540000000005], [-29.11761, -59.65834],
       [-27.09625, -54.89626], [-38.899159999999995, -70.05442],
       [-26.816670000000002, -65.31667], [-39.1, -67.06667],
       [-31.4933, -68.53838], [-32.43293, -63.24763000000001],
       [-32.407509999999995, -63.240159999999996], [-31.94585, -65.18958],
       [-33.227779999999996, -60.3297], [-31.42414, -64.49778],
       [-27.573829999999997, -60.71526], [-31.29458, -64.29538000000001],
       [-40.81345, -62.996680000000005], [-32.61841, -60.15478],
       [-29.4593, -60.21261], [-33.74556, -61.96885],
       [-35.4323, -60.172709999999995], [-54.8, -68.3],
       [-31.230729999999998, -64.31615],
       [-26.340670000000003, -60.432069999999996],
       [-38.373940000000005, -60.27978], [-43.24895, -65.30505],
       [-27.49362, -64.85972], [-22.516370000000002, -63.80131],
       [-26.73201, -65.25921], [-30.94404, -61.56148],
       [-31.662740000000003, -60.7653],
       [-27.795109999999998, -64.26149000000001], [-36.61667, -64.28333],
       [-31.53987, -68.49503], [-31.633329999999997, -60.7],
       [-24.194570000000002, -65.29711999999999], [-23.13705, -64.32426],
       [-34.61772, -68.33006999999999], [-24.231270000000002, -64.86614],
       [-33.33578, -60.22523], [-26.824140000000003, -65.2226],
       [-40.15789, -71.35337], [-33.08103, -68.46814],
       [-33.29501, -66.33563000000001], [-30.78913, -60.59189],
       [-31.5375, -68.53639], [-30.24057, -68.74693],
       [-31.896179999999998, -61.859840000000005],
       [-31.427970000000002, -62.08266], [-28.46957, -65.78524],
       [-40.73193, -64.94769000000001], [-24.7859, -65.41166],
       [-34.26827, -62.712619999999994], [-32.94682, -60.63932],
       [-32.17301, -64.11405], [-31.6526, -63.9099],
       [-51.622609999999995, -69.21813], [-33.13067, -64.34992],
       [-31.164859999999997, -64.32240999999999],
       [-43.30016, -65.10228000000001], [-31.250329999999998, -61.4867],
       [-26.86913, -60.21683], [-38.87588, -62.07359],
       [-42.7692, -65.03851], [-26.785220000000002, -60.438759999999995],
       [-31.683329999999998, -68.58333], [-38.96667, -68.23333000000001],
       [-33.88995, -60.57357], [-32.99835, -60.76791],
       [-31.73197, -60.5238], [-24.25647, -65.21163],
       [-36.892720000000004, -60.322540000000004], [-35.44437, -60.88313],
       [-38.951609999999995, -68.0591],
       [-30.711640000000003, -61.998619999999995],
       [-27.167409999999997, -65.49831999999999],
       [-32.890840000000004, -68.82717], [-32.6978, -62.106719999999996],
       [-26.926140000000004, -60.04955], [-34.86649, -61.5302],
       [-23.80644, -64.78757], [-27.08966, -61.08161],
       [-29.41105, -66.85067], [-31.088409999999996, -64.48987],
       [-31.343770000000003, -64.33529], [-34.12662, -63.39119],
       [-34.58382, -60.94331999999999], [-25.08333, -64.18333],
       [-30.98153, -64.09424], [-32.85683, -60.71754],
       [-33.030159999999995, -60.64045], [-35.03285, -63.012519999999995],
       [-39.03333, -67.58333], [-27.316670000000002, -61.28333000000001],
       [-35.656620000000004, -63.75682], [-22.595879999999998, -63.81255],
       [-32.029270000000004, -61.221030000000006], [-33.45937, -61.4832],
       [-27.054129999999997, -65.40329], [-42.91147, -71.31947],
       [-31.4488, -60.93173], [-23.21003, -64.09965], [-32.18, -64.41809],
       [-41.96051, -71.53336], [-32.06641, -60.638369999999995],
       [-30.42036, -64.34984], [-38.93424, -69.23052],
       [-30.726440000000004, -64.80386999999999],
       [-32.028729999999996, -60.306580000000004],
       [-31.245079999999998, -64.46563], [-37.45467, -61.93343],
       [-31.97263, -60.919830000000005], [-31.4135, -64.18105],
       [-45.864129999999996, -67.49656], [-38.93392, -67.99032],
       [-38.82225, -68.06293000000001], [-34.89566, -60.01667],
       [-31.48333, -68.53333], [-29.16195, -67.4974],
       [-27.21438, -61.18795], [-34.64167, -60.473890000000004],
       [-38.82955, -68.1318], [-31.651790000000002, -68.28105],
       [-37.87907, -67.7956], [-25.94679, -60.61946999999999],
       [-33.04417, -61.16806], [-32.856790000000004, -61.15331],
       [-32.82262, -60.71852], [-32.816359999999996, -61.39493],
       [-46.43929, -67.52814000000001], [-32.62591, -62.68873000000001],
       [-27.034240000000004, -65.30196],
       [-38.719590000000004, -62.27243000000001],
       [-33.15489, -60.508630000000004], [-31.42022, -63.050019999999996],
       [-28.46064, -62.83472], [-31.65292, -64.42826],
       [-38.97736, -67.82714], [-26.816670000000002, -65.13333],
       [-31.43722, -68.52556], [-27.4338, -65.61426999999999],
       [-34.610820000000004, -58.481], [-33.675709999999995, -65.45783],
       [-41.14557, -71.30821999999999], [-34.80041, -58.38384],
       [-14.27806, -170.7025], [46.840559999999996, 14.844170000000002],
       [47.8, 16.25], [48.208490000000005, 16.37208], [48.16667, 14.03333],
       [48.4, 15.6], [46.610279999999996, 13.85583],
       [48.22656, 14.234589999999999], [48.01485, 16.29324],
       [47.71565, 16.03575], [48.04274, 14.421270000000002], [46.8, 13.5],
       [48.13333, 16.46667], [48.2, 15.633329999999999],
       [47.799409999999995, 13.043989999999999],
       [47.426809999999996, 12.847999999999999], [48.08605, 16.28921],
       [47.42642, 9.65851], [48.30639, 14.28611], [48.27965, 14.2533],
       [47.3765, 15.091439999999999], [47.58333, 12.16667],
       [48.409209999999995, 15.61415], [48.305209999999995, 16.32522],
       [46.62472, 14.305279999999998], [47.44458, 15.29331],
       [47.26266, 11.39454], [47.68333, 13.1], [47.06667, 15.45],
       [47.233059999999995, 9.6], [47.41427, 9.74195], [47.50311, 9.7471],
       [48.25628, 13.04343], [48.00543, 16.23264],
       [48.1229, 14.872060000000001], [47.965, 13.049439999999999],
       [-33.03268, 137.56483], [-32.27682, 115.72978],
       [-34.88241, 138.5933], [-20.31215, 118.61058999999999],
       [-31.952240000000003, 115.8614], [-35.119859999999996, 139.27345],
       [-20.72523, 139.49727], [-35.13333, 138.51667],
       [-32.5269, 115.7217], [-32.230129999999996, 115.78128000000001],
       [-30.746140000000004, 121.4742], [-32.080999999999996, 116.0054],
       [-28.77897, 114.61458999999999], [-34.602509999999995, 138.74902],
       [-32.05454, 115.75126999999999], [-12.46113, 130.84185],
       [-33.65249, 115.3455], [-33.32711, 115.64137],
       [-32.14607, 116.0093], [-23.69748, 133.88362],
       [-35.0031, 117.86595], [-34.92866, 138.59863],
       [-27.633329999999997, 153.1],
       [-36.121790000000004, 146.88808999999998],
       [-37.9, 144.66666999999998], [-38.38176, 142.48799],
       [-37.88333, 145.21667], [-36.35846, 146.32056],
       [-35.12577, 147.35375], [-38.19528, 146.5415],
       [-19.266389999999998, 146.80569], [-27.56056, 151.95386000000002],
       [-37.75, 145.0], [-37.68333, 145.01667],
       [-37.86667, 144.66666999999998], [-31.91099, 152.45387],
       [-31.09048, 150.92905], [-33.86785, 151.20731999999998],
       [-28.002740000000003, 153.42999], [-27.58333, 153.05],
       [-37.577420000000004, 144.72607], [-32.71314, 152.06623000000002],
       [-37.94853, 145.15274], [-27.967240000000004, 153.39796],
       [-29.7076, 152.92627], [-36.38047, 145.39866999999998],
       [-38.1, 145.13333], [-37.8676, 144.98099], [-37.73333, 144.8],
       [-37.93333, 145.23333], [-23.38032, 150.50595],
       [-37.81819, 145.00176000000002], [-37.71667, 145.0],
       [-35.354929999999996, 149.232], [-33.73333, 150.88333],
       [-37.75, 145.01667], [-31.430840000000003, 152.90894],
       [-37.91482, 144.75088], [-38.13333, 145.51667],
       [-33.283970000000004, 149.10018], [-34.88422, 150.60036000000002],
       [-37.76667, 145.0], [-37.96667, 145.16666999999998],
       [-32.92715, 151.77647], [-27.989409999999996, 153.33633],
       [-38.03333, 145.3], [-27.20338, 152.95923], [-37.91667, 145.2],
       [-38.26667, 145.01667], [-37.8318, 140.77919],
       [-38.18333, 145.08333000000002], [-33.83902, 151.23956],
       [-38.21792, 145.03876], [-27.108759999999997, 152.94907],
       [-38.17828, 146.26099], [-37.66667, 145.06667],
       [-34.18551, 142.16251], [-37.68339, 144.58543],
       [-37.814, 144.96331999999998], [-25.54073, 152.70493000000002],
       [-33.90318, 151.15176], [-33.95, 151.23333], [-32.73308, 151.5574],
       [-21.15345, 149.16554], [-33.9, 150.93333],
       [-28.813540000000003, 153.2773], [-37.75, 145.35],
       [-41.438759999999995, 147.13467], [-38.02388, 144.40617],
       [-38.16667, 145.16666999999998], [-37.66667, 145.01667],
       [-37.99116, 145.17385], [-37.80639, 145.03086000000002],
       [-33.719770000000004, 150.30739], [-33.70244, 151.09931],
       [-42.87936, 147.32941], [-37.8329, 145.0367], [-38.03333, 145.25],
       [-34.28853, 146.05093], [-37.70462, 145.10302],
       [-33.83333, 151.01667], [-34.75155, 149.72086000000002],
       [-28.000290000000003, 153.43088], [-37.7, 144.93333],
       [-37.83333, 145.05], [-23.84852, 151.25775],
       [-38.14711, 144.36068999999998], [-38.13333, 145.13333],
       [-38.14458, 145.12291000000002], [-32.18136, 152.51715],
       [-37.76667, 144.91666999999998], [-37.65, 145.03333],
       [-33.77271, 151.08184], [-34.06564, 151.01266], [-37.73333, 145.15],
       [-36.140570000000004, 144.75185], [-33.95, 151.1],
       [-32.24295, 148.60484], [-37.78761, 145.14888],
       [-37.78828, 145.12373], [-41.17695, 146.35152],
       [-37.76667, 144.78333], [-27.193540000000002, 153.02631],
       [-37.98333, 145.2], [-34.062509999999996, 151.14961],
       [-38.1, 145.28333], [-38.11342, 145.28326], [-37.6, 144.95],
       [-30.296259999999997, 153.11351000000002], [-37.75, 144.96667],
       [-37.91667, 145.11667], [-34.424, 150.89345],
       [-32.83211, 151.35623], [-33.73333, 151.0], [-38.09968, 145.17248],
       [-37.88333, 145.06667], [-33.78269, 151.04888],
       [-34.047259999999994, 151.12051], [-35.28346, 149.12807],
       [-37.84205, 145.0694], [-26.803459999999998, 153.12195],
       [-16.92304, 145.76625], [-27.08465, 152.9511],
       [-41.05584, 145.90375], [-24.86621, 152.3479],
       [-26.68443, 153.05705], [-37.76667, 144.96667],
       [-31.9652, 141.4512], [-27.467940000000002, 153.02809],
       [-37.86667, 145.28333], [-33.76667, 150.91666999999998],
       [-38.03333, 145.35], [-36.758179999999996, 144.28024],
       [-33.75881, 150.99292], [-33.41665, 149.5806],
       [-28.212979999999998, 153.53634], [-33.91667, 151.03333],
       [-37.56622, 143.84957], [-33.85, 151.03333], [-33.88834, 151.12274],
       [-30.50123, 151.66553000000002], [-36.07482, 146.92401],
       [-27.48034, 153.02049], [-37.969440000000006, 145.04806000000002],
       [-33.914390000000004, 151.24895], [-33.75, 151.3],
       [-33.523140000000005, 151.31325], [-12.48602, 130.9833],
       [-27.3171, 153.03097], [-33.79677, 151.12436],
       [-37.88264, 144.7003], [-27.63917, 153.10943999999998],
       [-27.505779999999998, 153.10236], [-33.8178, 151.00348],
       [-37.884609999999995, 145.29539], [-33.81667, 151.0],
       [-34.911190000000005, 138.70735], [-32.057990000000004, 115.91814],
       [-33.79068, 150.6693], [-37.85995, 145.05489],
       [-37.790859999999995, 145.09386], [-37.87397, 145.04253],
       [-37.90232, 145.01734], [-27.61328, 152.78943999999998],
       [-37.74496, 144.80049], [-37.97695, 145.25866000000002],
       [-37.69863, 144.78631000000001], [-37.625809999999994, 144.92555],
       [-37.8415, 144.54101], [-32.05251, 115.88781999999999],
       [-32.06003, 115.955], [-37.69047, 144.74172],
       [-37.69825, 145.05966999999998], [-27.625629999999997, 152.96883],
       [-27.61025, 153.05388], [-38.043690000000005, 145.2923],
       [-37.96649, 145.2081], [-38.16604, 145.13643000000002],
       [-37.79117, 144.81637], [-37.88413, 144.78367],
       [-33.7457, 151.04764], [12.52398, -70.02703000000001],
       [60.09726, 19.93481], [39.8177, 46.7528], [39.87867, 48.39901],
       [39.760059999999996, 46.74989], [39.59621, 48.984790000000004],
       [39.932140000000004, 48.36892], [39.3768, 49.247],
       [39.208890000000004, 45.41222], [38.75428, 48.85062],
       [39.87095, 48.05995], [39.60094, 47.14529],
       [39.20963, 48.491859999999996], [39.45833, 48.545],
       [39.77556, 47.61861], [38.45598, 48.87498],
       [39.93778, 48.928999999999995], [39.99096, 46.92736],
       [41.6316, 46.64479], [40.47746, 49.94174],
       [40.618320000000004, 47.15014], [40.585840000000005, 46.3189],
       [41.464259999999996, 48.80565], [40.519020000000005, 47.65423],
       [40.34179, 46.93242], [40.58972, 49.66861], [40.39667, 49.97361],
       [40.82975, 46.0178], [40.631409999999995, 48.64137],
       [41.19194, 47.170559999999995], [40.4425, 49.94806],
       [40.00869, 48.47701], [41.4275, 48.4302], [41.36108, 48.51341],
       [40.038740000000004, 48.942859999999996],
       [41.092459999999996, 45.36561],
       [40.623329999999996, 49.558609999999994], [40.76395, 47.05953],
       [40.52983, 50.006159999999994],
       [40.491820000000004, 50.142920000000004], [40.3256, 49.73376],
       [40.34532, 48.15085], [40.44808, 49.75502], [40.43026, 50.03598],
       [40.65055, 47.74219], [40.37444, 50.08528], [40.68278, 46.36056],
       [41.20117, 48.987120000000004], [40.51903, 50.11438],
       [40.450759999999995, 50.086859999999994], [40.37577, 47.12619],
       [40.4444, 49.805659999999996], [40.37767, 49.89201],
       [40.426390000000005, 49.98361], [40.57028, 48.40087],
       [40.64699, 47.4738], [40.05015, 47.45937], [40.41894, 49.96693],
       [44.20169, 17.90397], [43.988890000000005, 18.178060000000002],
       [45.18497, 15.80579], [44.53842, 18.667089999999998],
       [42.71197, 18.34362], [44.22637, 17.66583], [43.84864, 18.35644],
       [44.97991, 16.714010000000002], [43.34333, 17.80806],
       [44.87851, 18.42764], [44.703070000000004, 18.3101],
       [43.66795, 18.97564], [44.731790000000004, 18.08698],
       [44.96694, 15.943060000000001], [44.05722, 17.45083],

In [40]:
from sklearn.metrics.pairwise import euclidean_distances

In [41]:
euclidean_distances(X[0],Y[1])

/home/vijay/anaconda2/envs/py35/lib/python3.5/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/home/vijay/anaconda2/envs/py35/lib/python3.5/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([[ 75.53454444]])

In [33]:
len(X)

855



for i in range(0,len(X),1):
    frm = X[i]
    j=0
    dist = {}
    while(j<len(Y)):
        to = Y[j]
        #print(frm,":",to)
        #print(type(euclidean_distances(frm,to)))
        dist[j]=float(euclidean_distances(frm,to))
        j+=1
    print(dist)
    print("min is :",min(dist, key=dist.get))

In [48]:
X = X[0:5]

In [49]:
Y=Y[0:10]

In [63]:
from scipy.spatial import distance
NX=np.array(X[0])
NY=np.array(Y)
NX=NX.reshape((2,1))
NY=NY.reshape((10,1))
dst = distance.euclidean(NX,NY)

ValueError: operands could not be broadcast together with shapes (2,) (10,)

In [67]:
import numpy as np
import sys
import math
import matplotlib.pyplot as plt
from scipy.spatial import distance
 

def diff_Length_Error():
    raise RuntimeWarning("The length of the two vectors are not the same!")

def euclidean0_0 (vector1, vector2):
    ''' calculate the euclidean distance
    input: numpy.arrays or lists
    return: 1. quard distance, 2. euclidean distance
    '''
    quar_distance = 0
    try:
        if(len(vector1) != len(vector2)):
            diff_Length_Error()
        zipVector = zip(vector1, vector2)
 
        for member in zipVector:
            quar_distance += (member[1] - member[0]) ** 2
 
        return quar_distance, math.sqrt(quar_distance)
 
    except (Exception, err):
        sys.stderr.write('WARNING: %s\n' % str(err))
        return -1, -1

def euclidean0_1(vector1, vector2):
    '''calculate the euclidean distance, no numpy
    input: numpy.arrays or lists
    return: euclidean distance
    '''
    dist = [(a - b)**2 for a, b in zip(vector1, vector2)]
    dist = math.sqrt(sum(dist))
    return dist
 
def euclidean2(vector1, vector2):
    '''calculate the euclidean distance, use numpy.dot() function
    input: numpy.arrays or lists
    return: euclidean distance
    '''
    try:
        if type(vector1) == list:
            vector1 = np.array(vector1)
        if type(vector2) == list:
            vector2 = np.array(vector2)
        diff = vector2 - vector1
        squareDistance = np.dot(diff.T, diff)
        return squareDistance, math.sqrt(squareDistance)
    except TypeError as e:
        print ("Type error: {}".format(e.message))
        raise
    except ValueError as e:
        print ("Value error: {}".format(e.message))
        raise
    except:
        print ("Unexpected error:", sys.exc_info()[0])
        raise

def euclidean3(vector1, vector2):
    ''' use numpy.linalg.norm to calculate the euclidean distance. '''
    vector1, vector2 = list_to_npArray(vector1, vector2)
    distance = np.linalg.norm(vector1-vector2, 2, 0) # the third argument "0" means the column, and "1" means the line.
    return distance
 
def euclidean4(vector1, vector2):
    ''' use scipy to calculate the euclidean distance. '''
    dist = distance.euclidean(vector1, vector2)
    return dist
 
def euclidean5(vector1, vector2):
    ''' use matplotlib.mlab to calculate the euclidean distance. '''
    vector1, vector2 = list_to_npArray(vector1, vector2)
    dist = plt.mlab.dist(vector1, vector2)
    return dist
 
def list_to_npArray(vector1, vector2):
    '''convert the list to numpy array'''
    if type(vector1) == list:
        vector1 = np.array(vector1)
    if type(vector2) == list:
        vector2 = np.array(vector2)
    return vector1, vector2

In [112]:
vector1 = [[42.507290000000005, 1.53414], [2.50779, 1.52109]]
vector2 = [[48.507290000000005, 1.93414], [40.50779, 1.92109]
#vectorOther = [1.0, 2.0, 3.0]

rads = np.radians(vector1)
v1 = np.array(vector1)
v2 = np.array(vector2)
vOther = np.array(vectorOther)
 
euclidean0_0(v1,v2)

SyntaxError: invalid syntax (<ipython-input-112-318fd7578981>, line 5)

In [111]:
euclidean3(v1,v2)

array([ 38.47076812,   0.56568542])

In [83]:
from numpy import meshgrid

In [106]:
#import meshgrid 
latitude1 = airline_tweets['latitude']
latitude1 = latitude1[0:5]
#latitude1 = np.array(x[0:10])
longitude1 = airline_tweets['longitude']
longitude1 =  longitude1[0:5]

latitude2 = cities['latitude']
latitude2 = latitude2[0:10]
#latitude1 = np.array(x[0:10])
longitude2 = cities['longitude']
longitude2 = longitude2[0:10]

In [107]:
print(latitude1)
print(longitude1)

0    40.748043
1    42.361016
2    33.945404
3    33.942094
4    33.214504
Name: latitude, dtype: float64
0    -73.992953
1    -71.020005
2   -118.406247
3   -118.404101
4    -96.932150
Name: longitude, dtype: float64

In [108]:
print(latitude2)
print(longitude2)

0    42.50729
1    42.50779
2    25.56473
3    25.78953
4    25.33132
5    25.06570
6    25.59246
7    25.61955
8    25.33737
9    24.11028
Name: latitude, dtype: float64
0     1.53414
1     1.52109
2    55.55517
3    55.94320
4    56.34199
5    55.17128
6    56.26176
7    56.27291
8    55.41206
9    52.73056
Name: longitude, dtype: float64

In [ ]:
points = np.array([[lat1, lon1], [lat2, lon2], ...])
rads = np.radians(points)

In [137]:
from scipy.spatial import distance
dst = distance.euclidean(X-Y)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [136]:
distance.euclidean?

In [139]:
dist = np.linalg.norm(X-Y)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [112]:
import math

def Edistance(origin, destination):
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

In [113]:
lat1 = 40.5; lat2 = 42; long1 = -90; long2 = -93
print( Edistance((lat1, long1), (lat2, long2)) )

301.17000641409464

In [145]:
airline_tweets_1 = airline_tweets
airline_tweets_1.head(5)

   airline_sentiment                   tweet_coord   latitude   longitude
0                  2   [40.74804263, -73.99295302]  40.748043  -73.992953
1                  0     [42.361016, -71.02000488]  42.361016  -71.020005
2                  1   [33.94540417, -118.4062472]  33.945404 -118.406247
3                  0  [33.94209449, -118.40410103]  33.942094 -118.404101
4                  2     [33.2145038, -96.9321504]  33.214504  -96.932150

In [146]:
cities_1 = cities
cities_1.head(5)

               name  latitude  longitude                      city_coord
0      les Escaldes  42.50729    1.53414   [42.507290000000005, 1.53414]
1  Andorra la Vella  42.50779    1.52109             [42.50779, 1.52109]
2    Umm al Qaywayn  25.56473   55.55517  [25.564729999999997, 55.55517]
3    Ras al-Khaimah  25.78953   55.94320             [25.78953, 55.9432]
4      Khawr Fakkān  25.33132   56.34199            [25.33132, 56.34199]

In [147]:
airline_tweets_1['coords1'] = list(zip(airline_tweets_1['latitude'], airline_tweets_1['longitude']))
cities_1['coords2'] = list(zip(cities_1['latitude'], cities_1['longitude']))

In [148]:
airline_tweets_1.head(5)

,airline_sentiment,tweet_coord,latitude,longitude,coords1
0,2,"[40.74804263, -73.99295302]",40.748043,-73.992953,"(40.74804263, -73.99295302)"
1,0,"[42.361016, -71.02000488]",42.361016,-71.020005,"(42.361016, -71.02000488)"
2,1,"[33.94540417, -118.4062472]",33.945404,-118.406247,"(33.94540417, -118.4062472)"
3,0,"[33.94209449, -118.40410103]",33.942094,-118.404101,"(33.94209449, -118.40410103)"
4,2,"[33.2145038, -96.9321504]",33.214504,-96.932150,"(33.2145038, -96.9321504)"

In [149]:
cities_1.head(5)

,name,latitude,longitude,city_coord,coords2
0,les Escaldes,42.50729,1.53414,"[42.507290000000005, 1.53414]","(42.50729, 1.53414)"
1,Andorra la Vella,42.50779,1.52109,"[42.50779, 1.52109]","(42.50779, 1.52109)"
2,Umm al Qaywayn,25.56473,55.55517,"[25.564729999999997, 55.55517]","(25.56473, 55.55517)"
3,Ras al-Khaimah,25.78953,55.94320,"[25.78953, 55.9432]","(25.78953, 55.9432)"
4,Khawr Fakkān,25.33132,56.34199,"[25.33132, 56.34199]","(25.33132, 56.34199)"

In [150]:
def calc_min(x):
    amin = np.argmin([np.linalg.norm(np.array(x)-np.array(y)) for y in cities_1['coords2']])
    return cities_1['coords2'].iloc[amin]

In [151]:
airline_tweets_1['closest'] = airline_tweets_1['coords1'].map(calc_min)

In [152]:
airline_tweets_1

,airline_sentiment,tweet_coord,latitude,longitude,coords1,closest
0,2,"[40.74804263, -73.99295302]",40.748043,-73.992953,"(40.74804263, -73.99295302)","(40.71427, -74.00597)"
1,0,"[42.361016, -71.02000488]",42.361016,-71.020005,"(42.361016, -71.02000488)","(42.39176, -71.03283)"
2,1,"[33.94540417, -118.4062472]",33.945404,-118.406247,"(33.94540417, -118.4062472)","(33.91918, -118.41647)"
3,0,"[33.94209449, -118.40410103]",33.942094,-118.404101,"(33.94209449, -118.40410103)","(33.91918, -118.41647)"
4,2,"[33.2145038, -96.9321504]",33.214504,-96.932150,"(33.2145038, -96.9321504)","(33.15067, -96.82361)"
5,1,"[34.0219817, -118.38591198]",34.021982,-118.385912,"(34.0219817, -118.38591198)","(34.02112, -118.39647)"
6,1,"[33.57963333, -117.73024772]",33.579633,-117.730248,"(33.57963333, -117.73024772)","(33.56504, -117.72712)"
7,0,"[40.6413712, -73.78311558]",40.641371,-73.783116,"(40.6413712, -73.78311558)","(40.66312, -73.76221)"
8,2,"[36.08457854, -115.13780136]",36.084579,-115.137801,"(36.08457854, -115.13780136)","(36.09719, -115.14666)"
9,1,"[37.79374402, -122.39327564]",37.793744,-122.393276,"(37.79374402, -122.39327564)","(37.77493, -122.41942)"
10,0,"[26.074379, -80.1416831]",26.074379,-80.141683,"(26.074379, -80.1416831)","(26.05231, -80.14393)"
11,2,"[33.9469039, -118.40716847]",33.946904,-118.407168,"(33.9469039, -118.40716847)","(33.91918, -118.41647)"
12,0,"[51.04345575, -114.06071363]",51.043456,-114.060714,"(51.04345575, -114.06071363)","(51.05011, -114.08529)"
13,1,"[40.64662464, -73.77090177]",40.646625,-73.770902,"(40.64662464, -73.77090177)","(40.66312, -73.76221)"
14,2,"[33.94652852, -118.40766257]",33.946529,-118.407663,"(33.94652852, -118.40766257)","(33.91918, -118.41647)"
15,2,"[38.9128188, -77.00798226]",38.912819,-77.007982,"(38.9128188, -77.00798226)","(38.89511, -77.03637)"
16,2,"[32.84359605, -96.84910929]",32.843596,-96.849109,"(32.84359605, -96.84910929)","(32.78306, -96.80667)"
17,0,"[32.8437698, -96.84928399]",32.843770,-96.849284,"(32.8437698, -96.84928399)","(32.78306, -96.80667)"
18,0,"[26.06726717, -80.14433663]",26.067267,-80.144337,"(26.06726717, -80.14433663)","(26.05231, -80.14393)"
19,2,"[32.8454782, -96.8504585]",32.845478,-96.850459,"(32.8454782, -96.8504585)","(32.78306, -96.80667)"
20,1,"[39.24087254, -94.63994975]",39.240873,-94.639950,"(39.24087254, -94.63994975)","(39.20389, -94.55468)"
21,2,"[37.77465018, -122.44032176]",37.774650,-122.440322,"(37.77465018, -122.44032176)","(37.77493, -122.41942)"
22,1,"[33.94696831, -118.40747994]",33.946968,-118.407480,"(33.94696831, -118.40747994)","(33.91918, -118.41647)"
23,0,"[40.63767372, -74.11075451]",40.637674,-74.110755,"(40.63767372, -74.11075451)","(40.63316, -74.13653)"
24,1,"[40.78986648, -73.10068286]",40.789866,-73.100683,"(40.78986648, -73.10068286)","(40.81538, -73.11233)"
25,2,"[42.5696777, -71.42056878]",42.569678,-71.420569,"(42.5696777, -71.42056878)","(42.57926, -71.43784)"
26,1,"[37.80065252, -122.43857414]",37.800653,-122.438574,"(37.80065252, -122.43857414)","(37.77493, -122.41942)"
27,1,"[36.08546367, -115.31814055]",36.085464,-115.318141,"(36.08546367, -115.31814055)","(36.11708, -115.33001)"
28,0,"[19.43706642, -99.07927123]",19.437066,-99.079271,"(19.43706642, -99.07927123)","(19.44361, -99.10499)"
29,2,"[39.8621249, -104.6740909]",39.862125,-104.674091,"(39.8621249, -104.6740909)","(39.98526, -104.82053)"
...,...,...,...,...,...,...
825,0,"[35.20493157, -80.92540817]",35.204932,-80.925408,"(35.20493157, -80.92540817)","(35.22709, -80.84313)"
826,0,"[34.02148779, -118.50289643]",34.021488,-118.502896,"(34.02148779, -118.50289643)","(34.01945, -118.49119)"
827,0,"[40.64931132, -73.79263138]",40.649311,-73.792631,"(40.64931132, -73.79263138)","(40.66312, -73.76221)"
828,0,"[40.64935461, -73.79198785]",40.649355,-73.791988,"(40.64935461, -73.79198785)","(40.66312, -73.76221)"
829,0,"[35.2176668, -80.9426912]",35.217667,-80.942691,"(35.2176668, -80.9426912)","(35.22709, -80.84313)"
830,0,"[32.9272165, -97.0396313]",32.927217,-97.039631,"(32.9272165, -97.0396313)","(32.95457, -97.01501)"
831,0,"[38.83598483, -77.10864801]",38.835985,-77.108648,"(38.83598483, -77.10864801)","(38.89511, -77.03637)"
832,0,"[40.46694635, -82.64579149]",40.466946,-82.645791,"(40.46694635, -82.64579149)","(40.3934, -82.48572)"
833,0,"[40.65062011, -73.79171323]",40.650620,-73.791713,"(40.65062011, -73.79171323)","(40.66312, -73.76221)"
834,2,"[35.87912533, -78.79162128]",35.879125,-78.791621,"(35.87912533, -78.79162128)","(35.82348, -78.82556)"
835,0,"[40.64824535, -73.80141955]",40.648245,-73.801420,"(40.64824535, -73.80141955)","(40.65788, -73.83625)"
836,0,"[32.9760867, -96.53332214]",32.976087,-96.533322,"(32.9760867, -96.53332214)","(32.91262, -96.63888)"
837,2,"[25.79101279, -80.28861743]",25.791013,-80.288617,"(25.79101279, -80.28861743)","(25.76232, -80.31616)"
838,0,"[15.1659317, 120.5830548]",15.165932,120.583055,"(15.1659317, 120.5830548)","(15.15, 120.58333)"
839,0,"[38.85482856, -77.04128223]",38.854829,-77.041282,"(38.85482856, -77.04128223)","(38.89511, -77.03637)"
840,0,"[47.24879409, -122.43874458]",47.248794,-122.438745,"(47.24879409, -122.43874458)","(47.25288, -122.44429)"
841,2,"[40.6474324, -73.7936881]",40.647432,-73.793688,"(40.6474324, -73.7936881)","(40.66312, -73.76221)"
842,0,"[32.97609561, -96.53349238]",32.976096,-96.533492,"(32.97609561, -96.53349238)","(32.91262, -96.63888)"
843,2,"[40.68621427, -74.1793971]",40.686214,-74.179397,"(40.68621427, -74.1793971)","(40.66399, -74.2107)"
844,2,"[44.26313964, -69.78197616]",44.263140,-69.781976,"(44.26313964, -69.78197616)","(44.31062, -69.77949)"
845,0,"[40.80718573, -73.95477259]",40.807186,-73.954773,"(40.80718573, -73.95477259)","(40.80788, -73.94542)"
846,0,"[38.5369071, -106.9349375]",38.536907,-106.934938,"(38.5369071, -106.9349375)","(38.47832, -107.87617)"
847,0,"[38.538038, -106.9370467]",38.538038,-106.937047,"(38.538038, -106.9370467)","(38.47832, -107.87617)"
848,0,"[33.64199395, -84.44238523]",33.641994,-84.442385,"(33.64199395, -84.44238523)","(33.67955, -84.43937)"
849,0,"[32.90771571, -97.04233322]",32.907716,-97.042333,"(32.90771571, -97.04233322)","(32.93429, -97.07807)"
850,0,"[33.93939612, -118.38973148]",33.939396,-118.389731,"(33.93939612, -118.38973148)","(33.91918, -118.41647)"
851,0,"[35.22534456, -106.57241352]",35.225345,-106.572414,"(35.22534456, -106.57241352)","(35.23338, -106.66447)"
852,0,"[40.46692522, -82.64567078]",40.466925,-82.645671,"(40.46692522, -82.64567078)","(40.3934, -82.48572)"
853,0,"[32.9070889, -97.03785947]",32.907089,-97.037859,"(32.9070889, -97.03785947)","(32.93429, -97.07807)"
854,2,"[40.64946781, -73.76624703]",40.649468,-73.766247,"(40.64946781, -73.76624703)","(40.66312, -73.76221)"

In [158]:
airline_tweets_1 = airline_tweets[0:10]
#airline_tweets_1.head(5)

cities_1 = cities[0:100]
#cities_1.head(5)

airline_tweets_1['coords1'] = list(zip(airline_tweets_1['latitude'], airline_tweets_1['longitude']))
cities_1['coords2'] = list(zip(cities_1['latitude'], cities_1['longitude']))

def calc_min(x):
    amin = np.argmin([np.linalg.norm(np.array(x)-np.array(y)) for y in cities_1['coords2']])
    return cities_1['coords2'].iloc[amin]

airline_tweets_1['closest'] = airline_tweets_1['coords1'].map(calc_min)

airline_tweets_1

/home/vijay/anaconda2/envs/py35/lib/python3.5/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/vijay/anaconda2/envs/py35/lib/python3.5/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/vijay/anaconda2/envs/py35/lib/python3.5/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,airline_sentiment,tweet_coord,latitude,longitude,coords1,closest
0,2,"[40.74804263, -73.99295302]",40.748043,-73.992953,"(40.74804263, -73.99295302)","(18.21704, -63.05783)"
1,0,"[42.361016, -71.02000488]",42.361016,-71.020005,"(42.361016, -71.02000488)","(18.21704, -63.05783)"
2,1,"[33.94540417, -118.4062472]",33.945404,-118.406247,"(33.94540417, -118.4062472)","(18.21704, -63.05783)"
3,0,"[33.94209449, -118.40410103]",33.942094,-118.404101,"(33.94209449, -118.40410103)","(18.21704, -63.05783)"
4,2,"[33.2145038, -96.9321504]",33.214504,-96.932150,"(33.2145038, -96.9321504)","(18.21704, -63.05783)"
5,1,"[34.0219817, -118.38591198]",34.021982,-118.385912,"(34.0219817, -118.38591198)","(18.21704, -63.05783)"
6,1,"[33.57963333, -117.73024772]",33.579633,-117.730248,"(33.57963333, -117.73024772)","(18.21704, -63.05783)"
7,0,"[40.6413712, -73.78311558]",40.641371,-73.783116,"(40.6413712, -73.78311558)","(18.21704, -63.05783)"
8,2,"[36.08457854, -115.13780136]",36.084579,-115.137801,"(36.08457854, -115.13780136)","(18.21704, -63.05783)"
9,1,"[37.79374402, -122.39327564]",37.793744,-122.393276,"(37.79374402, -122.39327564)","(18.21704, -63.05783)"

In [167]:
from scipy.spatial import cKDTree

def closest_pts(setA_lat, setA_lng, setB_lat, setB_lng):
    a_x = setA_lat.values
    a_y = setA_lng.values
    b_x = setB_lat.values
    b_y = setB_lng.values
    print(a_x[0:5])
    a = np.c_[a_x, a_y]
    print(a)
    b = np.c_[b_x, b_y]
    indx = cKDTree(b).query(a,k=1)[1]
    return pd.Series(b_x[indx]), pd.Series(b_y[indx])

In [169]:
setA_lat = airline_tweets['latitude'][0:10]
setA_lng =  airline_tweets['longitude'][0:10]

setB_lat = cities['latitude']
setB_lng =  cities['longitude']

In [170]:
c_x,c_y = closest_pts(setA_lat, setA_lng, setB_lat, setB_lng)

[ 40.74804263  42.361016    33.94540417  33.94209449  33.2145038 ]
[[  40.74804263  -73.99295302]
 [  42.361016    -71.02000488]
 [  33.94540417 -118.4062472 ]
 [  33.94209449 -118.40410103]
 [  33.2145038   -96.9321504 ]
 [  34.0219817  -118.38591198]
 [  33.57963333 -117.73024772]
 [  40.6413712   -73.78311558]
 [  36.08457854 -115.13780136]
 [  37.79374402 -122.39327564]]

In [171]:
c_x[0:10]

0    40.71427
1    42.39176
2    33.91918
3    33.91918
4    33.15067
5    34.02112
6    33.56504
7    40.66312
8    36.09719
9    37.77493
dtype: float64

In [172]:
c_y[0:10]

0    -74.00597
1    -71.03283
2   -118.41647
3   -118.41647
4    -96.82361
5   -118.39647
6   -117.72712
7    -73.76221
8   -115.14666
9   -122.41942
dtype: float64