In [2]:
import os
import pandas as pd# bid open, close

def get_files(path):
    for file in os.walk(path):
        return file[2]

files = get_files('/home/vijay/DATA_SCIENCE/BPF/unziped_forex')
print(files)

import pandas as pd 
for filenme in files:
    print (filenme)
    filenme2 = '/home/vijay/DATA_SCIENCE/BPF/unziped_forex/'+filenme
    print (filenme2)
    yo = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_AUDUSD_M1_2018.csv",header=None, names = ['date','open','high','low','close','f'])
    yo[0:5]
    print(type(yo))
    break

In [25]:
AUUSD17 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_AUDUSD_M1_2017.csv", \
header=None, names = ['date','open','high','low','close','f'])

AUUSD18 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_AUDUSD_M1_2018.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [30]:
AUUSD1901 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_AUDUSD_M1_201901.csv", \
header=None, names = ['date','open','high','low','close','f'])

AUUSD1902 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_AUDUSD_M1_201902.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [31]:
AUUSD17[0:4]
AUUSD18[1:3]
AUUSD1902[0:3]

               date     open     high      low    close    f
0  2019-02-01 00:00  0.72390  0.72397  0.72378  0.72379  0.0
1  2019-02-01 00:01  0.72380  0.72382  0.72379  0.72381  0.0
2  2019-02-01 00:02  0.72381  0.72382  0.72377  0.72377  0.0

In [35]:
EURUSD17 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_EURUSD_M1_2017.csv", \
header=None, names = ['date','open','high','low','close','f'])

EURUSD18 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_EURUSD_M1_2018.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [36]:
EURUSD1901 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_EURUSD_M1_201901.csv", \
header=None, names = ['date','open','high','low','close','f'])

EURUSD1902 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_EURUSD_M1_201902.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [37]:
EURUSD17[0:4]
EURUSD18[1:3]
EURUSD1902[0:3]

               date     open     high      low    close    f
0  2019-02-01 00:00  1.14420  1.14428  1.14418  1.14418  0.0
1  2019-02-01 00:01  1.14418  1.14425  1.14414  1.14414  0.0
2  2019-02-01 00:02  1.14414  1.14415  1.14409  1.14410  0.0

In [38]:
GBPUSD17 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_GBPUSD_M1_2017.csv", \
header=None, names = ['date','open','high','low','close','f'])

GBPUSD18 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_GBPUSD_M1_2018.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [39]:
GBPUSD1901 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_GBPUSD_M1_201901.csv", \
header=None, names = ['date','open','high','low','close','f'])

GBPUSD1902 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_GBPUSD_M1_201902.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [40]:
GBPUSD17[0:4]
GBPUSD18[1:3]
GBPUSD1902[0:3]

               date     open     high      low    close    f
0  2019-02-01 00:00  1.30926  1.30943  1.30926  1.30935  0.0
1  2019-02-01 00:01  1.30935  1.30947  1.30934  1.30947  0.0
2  2019-02-01 00:02  1.30947  1.30960  1.30945  1.30956  0.0

In [3]:
USDCAD17 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_USDCAD_M1_2017.csv", \
header=None, names = ['date','open','high','low','close','f'])

USDCAD18 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_USDCAD_M1_2018.csv", \
header=None, names = ['date','open','high','low','close','f'])

USDCAD1901 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_USDCAD_M1_201901.csv", \
header=None, names = ['date','open','high','low','close','f'])

USDCAD1902 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_USDCAD_M1_201902.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [4]:
USDCAD17[0:4]
USDCAD18[1:3]
USDCAD1902[0:3]

               date     open     high      low    close    f
0  2019-02-01 00:00  1.31479  1.31480  1.31471  1.31478  0.0
1  2019-02-01 00:01  1.31478  1.31483  1.31478  1.31483  0.0
2  2019-02-01 00:02  1.31482  1.31483  1.31481  1.31483  0.0

In [16]:
USDCAD17['date'][2:5]

2    2017-01-02 02:02
3    2017-01-02 02:03
4    2017-01-02 02:04
Name: date, dtype: object

In [64]:
def add_tik(df,arg):
    if arg == 1 :
        df['tik_time'] = df.date.str.slice(0,13)
        ndf = df [['tik_time','close']]
        ndfg = ndf.groupby(['tik_time'])['close'].mean()
    elif arg == 0 :
        df['tik_time'] = df.date.str.slice(0,13)
        df['invclose'] = 1/(df.close)
        ndf = df [['tik_time','invclose']]
        ndfg = ndf.groupby(['tik_time'])['invclose'].mean()
        
    return ndfg

In [65]:
USDCAD1902_R = add_tik(USDCAD1902,1)
USDCAD1902_R[0:5]

tik_time
2019-02-01 00    1.315112
2019-02-01 01    1.314893
2019-02-01 02    1.315129
2019-02-01 03    1.314745
2019-02-01 04    1.314713
Name: close, dtype: float64

In [66]:
USDCAD1901_R = add_tik(USDCAD1901,0)
USDCAD1901_R[0:5]

tik_time
2019-01-01 17    0.733778
2019-01-01 18    0.733920
2019-01-01 19    0.733749
2019-01-01 20    0.733875
2019-01-01 21    0.732915
Name: invclose, dtype: float64

uu.groupby(['tik_time'])['close'].mean()

UDF = USDCAD17[['date','close']]

UDF[0:3]

UDF['tik_time'] = UDF.date.str.slice(0,13)

UDF.groupby(['tik_time'])['close'].mean()