In [2]:
import os
import pandas as pd# bid open, close

def get_files(path):
    for file in os.walk(path):
        return file[2]

files = get_files('/home/vijay/DATA_SCIENCE/BPF/unziped_forex')
print(files)

import pandas as pd 
for filenme in files:
    print (filenme)
    filenme2 = '/home/vijay/DATA_SCIENCE/BPF/unziped_forex/'+filenme
    print (filenme2)
    yo = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_AUDUSD_M1_2018.csv",header=None, names = ['date','open','high','low','close','f'])
    yo[0:5]
    print(type(yo))
    break

In [143]:
AUUSD17 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_AUDUSD_M1_2017.csv", \
header=None, names = ['date','open','high','low','close','f'])

AUUSD18 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_AUDUSD_M1_2018.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [144]:
AUUSD1901 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_AUDUSD_M1_201901.csv", \
header=None, names = ['date','open','high','low','close','f'])

AUUSD1902 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_AUDUSD_M1_201902.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [145]:
AUUSD17[0:4]
AUUSD18[1:3]
AUUSD1902[0:3]

               date     open     high      low    close    f
0  2019-02-01 00:00  0.72390  0.72397  0.72378  0.72379  0.0
1  2019-02-01 00:01  0.72380  0.72382  0.72379  0.72381  0.0
2  2019-02-01 00:02  0.72381  0.72382  0.72377  0.72377  0.0

In [158]:
EURUSD17 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_EURUSD_M1_2017.csv", \
header=None, names = ['date','open','high','low','close','f'])

EURUSD18 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_EURUSD_M1_2018.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [159]:
EURUSD1901 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_EURUSD_M1_201901.csv", \
header=None, names = ['date','open','high','low','close','f'])

EURUSD1902 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_EURUSD_M1_201902.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [160]:
EURUSD17[0:4]
EURUSD18[1:3]
EURUSD1902[0:3]

               date     open     high      low    close    f
0  2019-02-01 00:00  1.14420  1.14428  1.14418  1.14418  0.0
1  2019-02-01 00:01  1.14418  1.14425  1.14414  1.14414  0.0
2  2019-02-01 00:02  1.14414  1.14415  1.14409  1.14410  0.0

In [150]:
GBPUSD17 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_GBPUSD_M1_2017.csv", \
header=None, names = ['date','open','high','low','close','f'])

GBPUSD18 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_GBPUSD_M1_2018.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [151]:
GBPUSD1901 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_GBPUSD_M1_201901.csv", \
header=None, names = ['date','open','high','low','close','f'])

GBPUSD1902 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_GBPUSD_M1_201902.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [152]:
GBPUSD17[0:4]
GBPUSD18[1:3]
GBPUSD1902[0:3]

               date     open     high      low    close    f
0  2019-02-01 00:00  1.30926  1.30943  1.30926  1.30935  0.0
1  2019-02-01 00:01  1.30935  1.30947  1.30934  1.30947  0.0
2  2019-02-01 00:02  1.30947  1.30960  1.30945  1.30956  0.0

In [100]:
USDCAD17 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_USDCAD_M1_2017.csv", \
header=None, names = ['date','open','high','low','close','f'])

USDCAD18 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_USDCAD_M1_2018.csv", \
header=None, names = ['date','open','high','low','close','f'])

USDCAD1901 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_USDCAD_M1_201901.csv", \
header=None, names = ['date','open','high','low','close','f'])

USDCAD1902 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_USDCAD_M1_201902.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [176]:
USDJPY17 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_USDJPY_M1_2017.csv", \
header=None, names = ['date','open','high','low','close','f'])

USDJPY18 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_USDJPY_M1_2018.csv", \
header=None, names = ['date','open','high','low','close','f'])

USDJPY1901 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_USDJPY_M1_201901.csv", \
header=None, names = ['date','open','high','low','close','f'])

USDJPY1902 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_USDJPY_M1_201902.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [169]:
NZDUSD17 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_NZDUSD_M1_2017.csv", \
header=None, names = ['date','open','high','low','close','f'])

NZDUSD18 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_NZDUSD_M1_2018.csv", \
header=None, names = ['date','open','high','low','close','f'])

NZDUSD1901 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_NZDUSD_M1_201901.csv", \
header=None, names = ['date','open','high','low','close','f'])

NZDUSD1902 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_NZDUSD_M1_201902.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [179]:
NZDCAD17 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_NZDCAD_M1_2017.csv", \
header=None, names = ['date','open','high','low','close','f'])

NZDCAD18 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_NZDCAD_M1_2018.csv", \
header=None, names = ['date','open','high','low','close','f'])

NZDCAD1901 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_NZDCAD_M1_201901.csv", \
header=None, names = ['date','open','high','low','close','f'])

NZDCAD1902 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_NZDCAD_M1_201902.csv", \
header=None, names = ['date','open','high','low','close','f'])

In [183]:
AUDCAD17 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_AUDCAD_M1_2017.csv", \
header=None, names = ['date','open','high','low','close','f'])

AUDCAD18 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_AUDCAD_M1_2018.csv", \
header=None, names = ['date','open','high','low','close','f'])

AUDCAD1901 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_AUDCAD_M1_201901.csv", \
header=None, names = ['date','open','high','low','close','f'])

AUDCAD1902 = pd.read_csv("/home/vijay/DATA_SCIENCE/BPF/unziped_forex/DAT_XLSX_AUDCAD_M1_201902.csv", \
header=None, names = ['date','open','high','low','close','f'])

USDCAD17['date'][2:5]

In [105]:
def add_tik(df,arg):
    if arg == 1 : # 1 VS 2
        df['tik_time'] = df.date.str.slice(0,13)
        ndf = df [['tik_time','close']]
        ndfg = ndf.groupby(['tik_time'])['close'].mean()
    elif arg == 0 : # 2 VS 1
        df['tik_time'] = df.date.str.slice(0,13)
        df['invclose'] = 1/(df.close)
        ndf = df [['tik_time','invclose']]
        ndfg = ndf.groupby(['tik_time'])['invclose'].mean()
        
    return ndfg

In [123]:
#USDCA
USDCAD1902_SERIES = add_tik(USDCAD1902,1)
USDCAD1902_DF = pd.DataFrame(USDCAD1902_SERIES).reset_index()
USDCAD1902_DF[0:5]

        tik_time     close
0  2019-02-01 00  1.315112
1  2019-02-01 01  1.314893
2  2019-02-01 02  1.315129
3  2019-02-01 03  1.314745
4  2019-02-01 04  1.314713

USDCAD1902_SERIES = add_tik(USDCAD1902,0)
USDCAD1902_DF = pd.DataFrame(USDCAD1902_SERIES).reset_index()
USDCAD1902_DF[0:5]

In [127]:
USDCAD1901_SERIES = add_tik(USDCAD1901,1)
USDCAD1901_DF = pd.DataFrame(USDCAD1901_SERIES).reset_index()
USDCAD1901_DF[0:5]

        tik_time     close
0  2019-01-01 17  1.362810
1  2019-01-01 18  1.362546
2  2019-01-01 19  1.362864
3  2019-01-01 20  1.362630
4  2019-01-01 21  1.364414

In [132]:
USDCAD18_SERIES = add_tik(USDCAD18,1)
USDCAD18_DF = pd.DataFrame(USDCAD18_SERIES).reset_index()
USDCAD18_DF[0:5]

        tik_time     close
0  2018-01-01 17  1.254419
1  2018-01-01 18  1.255490
2  2018-01-01 19  1.254989
3  2018-01-01 20  1.254235
4  2018-01-01 21  1.254459

In [133]:
USDCAD17_SERIES = add_tik(USDCAD17,1)
USDCAD17_DF = pd.DataFrame(USDCAD17_SERIES).reset_index()
USDCAD17_DF[0:5]

        tik_time     close
0  2017-01-02 02  1.343966
1  2017-01-02 03  1.343618
2  2017-01-02 04  1.340353
3  2017-01-02 05  1.340586
4  2017-01-02 06  1.342692

In [136]:
frames = [USDCAD17_DF,USDCAD18_DF,USDCAD1901_DF,USDCAD1902_DF]
combined_USDCD = pd.concat(frames)

In [138]:
combined_USDCD[0:5]

        tik_time     close
0  2017-01-02 02  1.343966
1  2017-01-02 03  1.343618
2  2017-01-02 04  1.340353
3  2017-01-02 05  1.340586
4  2017-01-02 06  1.342692

In [142]:
combined_USDCD.to_csv('/home/vijay/DATA_SCIENCE/BPF/processed_forex/USDCD.csv',encoding='utf-8', index=False)

In [165]:
#USDAUD
# AUUSD17,AUUSD18,AUUSD1902
AUUSD17_SERIES = add_tik(AUUSD17,0)
USDAUD17_DF = pd.DataFrame(AUUSD17_SERIES).reset_index()

AUUSD18_SERIES = add_tik(AUUSD18,0)
USDAUD18_DF = pd.DataFrame(AUUSD18_SERIES).reset_index()

AUUSD1901_SERIES = add_tik(AUUSD1901,0)
USDAUD1901_DF = pd.DataFrame(AUUSD1901_SERIES).reset_index()

AUUSD1902_SERIES = add_tik(AUUSD1902,0)
USDAUD1902_DF = pd.DataFrame(AUUSD1902_SERIES).reset_index()

In [166]:
frames = [USDAUD17_DF,USDAUD18_DF,USDAUD1901_DF,USDAUD1902_DF]
combined_USDAUD = pd.concat(frames)
combined_USDAUD.to_csv('/home/vijay/DATA_SCIENCE/BPF/processed_forex/USDAUD.csv',encoding='utf-8', index=False)

In [156]:
#USDGBP
#GBPUSD17,GBPUSD18,GBPUSD1902
GBPUSD17_SERIES = add_tik(GBPUSD17,0)
USDGBP17_DF = pd.DataFrame(GBPUSD17_SERIES).reset_index()

GBPUSD18_SERIES = add_tik(GBPUSD18,0)
USDGBP18_DF = pd.DataFrame(GBPUSD18_SERIES).reset_index()

GBPUSD1901_SERIES = add_tik(GBPUSD1901,0)
USDGBP1901_DF = pd.DataFrame(GBPUSD1901_SERIES).reset_index()

GBPUSD1902_SERIES = add_tik(GBPUSD1902,0)
USDGBP1902_DF = pd.DataFrame(GBPUSD1902_SERIES).reset_index()

In [157]:
frames = [USDGBP17_DF,USDGBP18_DF,USDGBP1901_DF,USDGBP1902_DF]
combined_USDGBP = pd.concat(frames)
combined_USDGBP.to_csv('/home/vijay/DATA_SCIENCE/BPF/processed_forex/USDGBP.csv',encoding='utf-8', index=False)

In [161]:
#USDEUR
#EURUSD17,EURUSD18,EURUSD1902
EURUSD17_SERIES = add_tik(EURUSD17,0)
USDEUR17_DF = pd.DataFrame(EURUSD17_SERIES).reset_index()

EURUSD18_SERIES = add_tik(EURUSD18,0)
USDEUR18_DF = pd.DataFrame(EURUSD18_SERIES).reset_index()

EURUSD1901_SERIES = add_tik(EURUSD1901,0)
USDEUR1901_DF = pd.DataFrame(EURUSD1901_SERIES).reset_index()

EURUSD1902_SERIES = add_tik(EURUSD1902,0)
USDEUR1902_DF = pd.DataFrame(EURUSD1902_SERIES).reset_index()

In [162]:
frames = [USDEUR17_DF,USDEUR18_DF,USDEUR1901_DF,USDEUR1902_DF]
combined_USDEUR = pd.concat(frames)
combined_USDEUR.to_csv('/home/vijay/DATA_SCIENCE/BPF/processed_forex/USDEUR.csv',encoding='utf-8', index=False)

In [170]:
#USDNZD

NZDUSD17_SERIES = add_tik(NZDUSD17,0)
USDNZD17_DF = pd.DataFrame(NZDUSD17_SERIES).reset_index()

NZDUSD18_SERIES = add_tik(NZDUSD18,0)
USDNZD18_DF = pd.DataFrame(NZDUSD18_SERIES).reset_index()

NZDUSD1901_SERIES = add_tik(NZDUSD1901,0)
USDNZD1901_DF = pd.DataFrame(NZDUSD1901_SERIES).reset_index()

NZDUSD1902_SERIES = add_tik(NZDUSD1902,0)
USDNZD1902_DF = pd.DataFrame(NZDUSD1902_SERIES).reset_index()

In [172]:
frames = [USDNZD17_DF,USDNZD18_DF,USDNZD1901_DF,USDNZD1902_DF]
combined_USDNZD = pd.concat(frames)
combined_USDNZD.to_csv('/home/vijay/DATA_SCIENCE/BPF/processed_forex/USDNZD.csv',encoding='utf-8', index=False)

In [177]:
#USDJPY

USDJPY17_SERIES = add_tik(USDJPY17,1)
USDJPY17_DF = pd.DataFrame(USDJPY17_SERIES).reset_index()

USDJPY18_SERIES = add_tik(USDJPY18,1)
USDJPY18_DF = pd.DataFrame(USDJPY18_SERIES).reset_index()

USDJPY1901_SERIES = add_tik(USDJPY1901,1)
USDJPY1901_DF = pd.DataFrame(USDJPY1901_SERIES).reset_index()

USDJPY1902_SERIES = add_tik(USDJPY1902,1)
USDJPY1902_DF = pd.DataFrame(USDJPY1902_SERIES).reset_index()

In [178]:
frames = [USDJPY17_DF,USDJPY18_DF,USDJPY1901_DF,USDJPY1902_DF]
combined_USDJPY = pd.concat(frames)
combined_USDJPY.to_csv('/home/vijay/DATA_SCIENCE/BPF/processed_forex/USDJPY.csv',encoding='utf-8', index=False)

In [180]:
#CADNZD

CADNZD17_SERIES = add_tik(NZDCAD17,0)
CADNZD17_DF = pd.DataFrame(CADNZD17_SERIES).reset_index()

CADNZD18_SERIES = add_tik(NZDCAD18,0)
CADNZD18_DF = pd.DataFrame(CADNZD18_SERIES).reset_index()

CADNZD1901_SERIES = add_tik(NZDCAD1901,0)
CADNZD1901_DF = pd.DataFrame(CADNZD1901_SERIES).reset_index()

CADNZD1902_SERIES = add_tik(NZDCAD1902,0)
CADNZD1902_DF = pd.DataFrame(CADNZD1902_SERIES).reset_index()

In [182]:
frames = [CADNZD17_DF,CADNZD18_DF,CADNZD1901_DF,CADNZD1902_DF]
combined_CADNZD = pd.concat(frames)
combined_CADNZD.to_csv('/home/vijay/DATA_SCIENCE/BPF/processed_forex/CADNZD.csv',encoding='utf-8', index=False)

In [184]:
#CADAUD
CADAUD17_SERIES = add_tik(AUDCAD17,0)
CADAUD17_DF = pd.DataFrame(CADAUD17_SERIES).reset_index()

CADAUD18_SERIES = add_tik(AUDCAD18,0)
CADAUD18_DF = pd.DataFrame(CADAUD18_SERIES).reset_index()

CADAUD1901_SERIES = add_tik(AUDCAD1901,0)
CADAUD1901_DF = pd.DataFrame(CADAUD1901_SERIES).reset_index()

CADAUD1902_SERIES = add_tik(AUDCAD1902,0)
CADAUD1902_DF = pd.DataFrame(CADAUD1902_SERIES).reset_index()

In [185]:
frames = [CADAUD17_DF,CADAUD18_DF,CADAUD1901_DF,CADAUD1902_DF]
combined_CADAUD = pd.concat(frames)
combined_CADAUD.to_csv('/home/vijay/DATA_SCIENCE/BPF/processed_forex/CADAUD.csv',encoding='utf-8', index=False)